body,
html,
.App,
#root,
.auth-wrapper {
	width: 100%;
	height: 100%;
	right: 100%;
}
.labels {
	display: inline-block;
	margin-left: 7rem;
	margin-top: 1rem;
	width: 10rem;
	color: rgb(8, 66, 34);
	font-weight: bold;
	font-size: small;
	padding-top: "2%";
}
.loginform {
	padding-top: 1rem;
	border-radius: 3ch;
	background-color: #ffffffa8;
	margin: 4rem 7rem 0rem 18rem;
	width: 27rem;
	height: 40rem;
}
.changepswbox {
	padding-top: 2rem;
	border-radius: 3ch;
	background-color: #ffffffa8;
	margin: 0rem 0rem 0rem 46rem;
	width: 22rem;
	height: 32.6rem;
}
/* .login {
	height: 2.4rem;
	width: 16rem;
	text-align: center;
	border: antiquewhite;
	border-radius: 2rem;
} */
.loginbtn {
	background-color: #055830;
	color: #ffffff;
	height: 3rem;
	margin: 0px 5rem;
	width: 17rem;
	border-radius: 2rem;
	border-style: initial;
	font-size: medium;
}
.loginbtn:hover {
	background-color: #266808;
}
.has-search .form-control-feedback {
	position: absolute;
	z-index: 2;
	display: block;
	width: 2.375rem;
	height: 2.375rem;
	line-height: 2.375rem;
	text-align: center;
	pointer-events: none;
	color: #aaa;
}
.has-search .form-control {
	padding-left: 2.375rem;
}
.head {
	margin: 1rem 5rem 1rem 5rem;
	padding: 0;
	line-height: 0.4rem;
}
.fpwhead {
	margin: 1rem 4rem 1rem 4rem;
	padding: 0;
	line-height: 0.4rem;
	font-size: 1.3rem;
}
.icon {
	padding: 10px;
	background: dodgerblue;
	color: white;
	min-width: 50px;
	text-align: center;
	border-bottom-left-radius: 1rem;
	border-top-left-radius: 1rem;
}
.inputWithIcon input[type="text"],
[type="password"] {
	width: 100%;
	border: 2px solid #aaa;
	margin: 3px 0;
	outline: none;
	padding: 6px;
	box-sizing: border-box;
	transition: 0.3s;
	padding-left: 35px;
	border-style: solid;
	border-color: gainsboro;
	border-radius: 1rem;
	font-size: 1.1rem;
}

.inputWithIcon {
	position: relative;
	/* width: 19.6rem; */
	margin: 0.5rem 1rem 1rem 1rem;
	height: 3rem;
}

.inputWithIcon i {
	position: absolute;
	left: 0.2rem;
	top: 10px;
	padding: 3px 8px;
	color: #aaa;
	transition: 0.3s;
}

.inputWithIcon :focus {
	outline: none !important;
	border-color: rgb(119, 211, 111);
	box-shadow: 0 0 8px 0 green;
}
.inputWithIcon :focus + i {
	color: rgb(11, 109, 63) !important;
}

.loginlogo {
	margin-top: -0.6rem;
	margin-left: 7.5rem;
}

.danger_msg {
	padding-left: 0.5rem;
	font-size: smaller;
	width: 24rem;
	color: #635858;
	font-size: inherit;
	margin-left: 2rem;
	/* font-style: italic; */
}
.asterisk_input::after {
	content: "\002A";
	color: #e32;
	position: absolute;
	margin: -0.5rem 0px 0px 8.5rem;
	font-size: x-large;
}
.inputWithIcon:focus + .asterisk_input {
	color: rgb(43, 151, 10);
}
.placeholder {
	color: #aaa;
	position: relative;
	top: -35px;
	margin-left: 10.5rem;
	font-size: 1.5rem;
}
.placeholder:after {
	content: "*";
	color: red;
}
.formcontrol:focus + .placeholder + i {
	color: rgb(11, 109, 63) !important;
}
.formcontrol:focus + .placeholder,
.formcontrol:not(:placeholder-shown) + .placeholder {
	display: none;
}
.mandatory_text,
.mandatory_text:before,
.mandatory_text:after {
	border-bottom-color: red !important;
}
/* border-radius: 4px; */
.formcontrol:focus + .placeholder + i {
	color: rgb(11, 109, 63) !important;
}
.formcontrol:focus + .placeholder,
.formcontrol:not(:placeholder-shown) + .placeholder {
	display: none;
}

.wordwrap {
	white-space: pre-line !important;
	word-wrap: break-word;
}
div {
	/* border: 1px solid black; */
	word-wrap: break-word !important;
}
.error_danger_msg {
	padding-left: 3rem;
	font-size: smaller;
	width: 13rem;
	color: #f90101;
	font-weight: bold;
}
.auth-error {
	position: relative;
	margin-top: 15px;
	margin-left: 58px;
}
.wrap-50 {
	width: 50px;
	text-overflow: ellipsis;
	overflow: hidden;
}
.wrap-80 {
	width: 80%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.auth-error {
	position: relative;
	margin-top: 15px;
	margin-left: 22%;
}
.ant-input-game {
	width: 25rem !important;
	border-radius: 0.3rem !important;
	margin-left: 2rem;
	height: 2rem;
	border-color: black;
}
.create-header {
	margin-left: 1rem;
	margin-right: 1rem;
	height: 2.5rem;
}
.ant-input-description {
	height: 4rem;
	border-radius: 0.3rem !important;
	border-color: black;
	margin-left: 2rem;
	width: 25rem !important;
}
.password-reset-success {
	margin-top: -7px !important;
}
.forgot-pwd-error-msg {
	margin-top: 11px !important;
}
.password-screen-success {
	font-weight: bold;
	text-align: center;
}
.page-not-found {
	font-weight: bold;
	color: black;
	color: #282c34;
	margin-right: 5%;
	font-size: 50px;
	line-height: 65px;
	font-weight: 700;
}
.form-control.is-invalid,
.was-validated .form-control:invalid {
	background-position: right calc(1.3rem) center;
}
.workoutTime {
	padding: 8px;
	margin: 10px 100px 0px 100px;
	text-align: center;
	background-color: #017c87;
	border-radius: 10px;
	color: white;
}
.workoutCheckedIn {
	padding: 8px;
	margin: 10px 100px 0px 100px;
	text-align: center;
	background-color: #35bc5b;
	border-radius: 10px;
	color: white;
}
.workoutCheckedOut {
	padding: 8px;
	margin: 10px 100px 0px 100px;
	text-align: center;
	background-color: #f24e1e;
	border-radius: 10px;
	color: white;
}
.upcoming-game-container {
	/* background-color: #f3f3f3; */
	padding: 20px;
	/* max-height: 300px; */
	min-height: 250px;
	height: 250px;
	box-shadow: 7px 7px 5px rgb(248 195 141);
	border-radius: 20px;
	border-top: 2px solid rgb(238, 232, 232);
	border-left: 2px solid rgb(238, 232, 232);
	overflow: hidden;
}
/* .upcoming-games-scroll-section {
	max-height: 300px;
	min-height: 300px;
	height: auto;
	overflow: auto;
    overflow-x: hidden;
} */
.task-text {
	background: linear-gradient(to left, #43cea2, #185a9d);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 20px;
	font-weight: bold;
	font-family: "Poppins", sans-serif;
	padding-left: 10px;
}
.task-text-line {
	position:absolute;
	width: 5px;
	height: 25px !important;
	border-radius: 10px;
	background: linear-gradient(#185a9d, #43cea2);
}

.games-text {
	background: linear-gradient(to left, #ffa01f, #ea4d2c );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 20px;
	font-weight: bold;
	font-family: "Poppins", sans-serif;
	padding-left: 10px;
}
.games-text-line {
	position:absolute;
	width: 5px;
	height: 25px !important;
	border-radius: 10px;
	background: linear-gradient(#ea4d2c, #ffa01f);
}

.user-tasks-container {
	/* background-color: #f3f3f3; */
	padding: 20px;
	/* max-height: 300px; */
	min-height: 250px;
	height: 250px;
	box-shadow: 7px 7px 5px rgba(154, 218, 204, 1);
	border-radius: 20px;
	border-top: 2px solid rgb(238, 232, 232);
	border-left: 2px solid rgb(238, 232, 232);
	overflow-y: hidden;
}
/* .user-tasks-scroll-section {
	max-height: 250px;
	min-height: 250px;
	height: 250px;
	overflow-y: auto;
} */
.upcoming-date-line {
	margin-top: 12px;
	border: 1px solid;
	border-image-slice: 1 !important;
	border-width: 1px;
	border-image-source: linear-gradient(to left,  #d53a9d, #743ad5);
}
.upcoming-date {
	color: #017C87;
}
.training-program-line {
	margin-top: 9px;
	border: 1px solid;
	border-image-slice: 1 !important;
	border-width: 1px;
	border-image-source: linear-gradient(to left, rgb(241 237 107) 0%, rgb(51 171 43) 100%);
}
.Training-date
{
	color: #C4DC00;
}
.user-tasks-line {
	margin-top: 9px;
	border: 1px solid;
	border-image-slice: 1 !important;
	border-width: 1px;
	border-color: #c1993847;
}
.training-program-container {
	/* background-color: #f3f3f3; */
	padding: 20px;
	min-height: 250px;
	height: 250px;
	box-shadow: 7px 7px 5px #dde964;
	border-radius: 20px;
	border-top: 2px solid rgb(238, 232, 232);
	border-left: 2px solid rgb(238, 232, 232);
	overflow-y: hidden;
}
.Dashboard-Background{
	background-image: url('/src/content/images/DashboardBackground.png');
	background-size: 400px;
	background-repeat: no-repeat;
	background-position: center;
}
/* .training-program-scroll-section {
	max-height: 300px;
	min-height: 300px;
	height: 300px;
	overflow-y: auto;
} */
.training-program-text {
	background: linear-gradient(to left, #dce35b, #45b649);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 20px;
	font-weight: bold;
	font-family: "Poppins", sans-serif;
	padding-left: 10px;
}
.training-program-text-line {
	position: absolute;
	width: 5px;
	height: 25px !important;
	border-radius: 10px;
	background: linear-gradient(#45b649, #dce35b);
}
.icon_blue_color {
	color: rgba(2, 124, 134, 1);
}



/* .add-program-dropdown{
    bottom: 0;
}

.add-program-reverse {
    top:auto;
    bottom:100%;
} */
.scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #08231e;
	border-radius: 10px;
	}
	
	
	
	.scrollbar::-webkit-scrollbar {
	width: 5px;
	background-color: #08231e;
	}
	
	
	
	.scrollbar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #08231e;
	background-image: -webkit-gradient(
	linear,
	40% 0%,
	75% 84%,
	from(#ffffff52),
	to(#ffffff52),
	color-stop(0.6, #ffffff52)
	);
	}
	.slider-sidemenu { height: 66% !important;
	overflow: auto;}