.mg-fd-filter-header {
	font-weight: bold;
	color: #fff;
}
.mg-fd-filter-btn {
	margin-top: 26px;
}
.mg-fd-tbl-head {
	text-align: left;
}
.mf-upload-img {
	background-color: #f3f3f3;
	height: 30%;
	width: 40%;
	overflow: hidden;
	text-align: center;
}
.mf-upload-img-container {
	margin-left: 30%;
	width: 100%;
	margin-top: 20px;
}
.img-input-control {
	height: 1px !important;
}
/*.dropZoneOverlay, .FileUpload {
    width: 283px;
    height: 71px;
}

.dropZoneOverlay {
    border: dotted 1px;
    font-family: cursive;
    color: #7066fb;
    position: absolute;
    top: 0px;
    text-align: center;
}

.FileUpload {
    opacity: 0;
    position: relative;
    z-index: 1;
}*/

/*input[type="file"] {
    opacity: 0;
    z-index: -1;
    position: absolute;
}*/
.file-upload {
	/*text-align: center;*/
	background-color: #f3f3f3;
	max-width: 220px;
	min-width: 200px;
	margin: auto;
}
.file-upload-content {
	/*max-width: 220px;
  max-height: 200px;*/
	/*margin: auto;*/
}
.file-upload-image {
	width: 100%;
	height: 100%;
}
.imag-content-default {
	padding: 65px;
}
.upload-icon {
	visibility: hidden;
	height: 0px;
	padding: 0px;
}
.remove-img-btn {
	color: #fff;
	position: absolute;
	font-size: 22px;
}
#uploadICon img {
	user-select: none;
	height: 35px;
	margin-left: 27px;
	cursor: pointer;
}
.img-container {
	max-width: 250px;
	max-height: 250px;
	margin: auto;
	margin-top: 30px;
}
.img-remove-icon-header {
	font-size: 35px;
	cursor: pointer;
	display: block;
	float: right;
	margin-top: -10px;
	position: relative;
	left: -15px;
	color: red;
	background-color: #ffffff7a;
	border-radius: 10%;
	height: 28px;
	font-size: 25px;
}
.remove-img-header {
	visibility: hidden;
}
.add-chart-data {
	border: 1px solid #0000004d;
	border-style: dashed;
	margin: 0px !important;
	border-radius: 10px;
	padding: 10px 10px 10px 30px;
	text-align: center;
}
.chart-data-col {
	border: 1px solid #80808061;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 5px 5px #c1c1c152;
}
.chart-data-col > span {
	border-bottom: 1px solid #80808082;
}
.chart-data-col-empty {
	padding: 0px !important;
}
.add-diet-icons {
	margin-top: 20px;
	font-size: 25px;
}
