.games_layout {
	color: rgba(1, 124, 134, 1) !important;
	float: left;
	font-size: 16px !important;
	font-weight: bold;
	/* border: 0px solid !important;
    border-bottom: 4px solid !important; */
}
.val-err-msg {
	color: red;
}
.user-list-toggle {
	overflow-y: auto !important;
	overflow-x: hidden;
	max-height: 200px !important;
}
.host-activity-add-user {
	height: 300px;
}
.user-list-toggle-main {
	overflow-y: auto !important;
	overflow-x: hidden;
	max-height: 800px !important;
	/*overflow: hidden !important;*/
	background-color: saddlebrown;
}
.host-activity-background {
	background-color: white !important;
}
.upload-icon {
	background-color: rgba(1, 124, 134, 1) !important;
	border-color: rgba(1, 124, 134, 1) !important;
	border-radius: 5px !important;
	height: 2rem;
	padding: 5px 10px;
	width: 10rem;
}
.ant-upload.ant-upload-drag {
	max-height: 150px !important;
	height: 200px !important;
}

.ant-upload-list.ant-upload-list-text {
	/* height: 150px !important; */
	max-height: 150px !important;
	overflow: auto !important;
}
.export_excel_in_invite_status {
	margin-top: 0px !important;
}
.add-users-with-team {
	height: 35px;
	width: 40px;
	border-radius: 50%;
	text-align: center;
}
.add-host-date-field > div {
	border-bottom: 1px solid #ced4da !important;
}
