.default-color {
	color: rgba(1, 124, 134, 1);
	border: solid 1px rgba(1, 124, 134, 1);
	background-color: transparent;
}
.pagination-icon-border {
	border: none !important;
	background-color: transparent !important;
	color: rgba(1, 124, 134, 1) !important;
}

.error-page-content {
	text-align: center;
}

body {
	font-family: "Roboto", sans-serif !important;
	/* background-image: url(./images/background.png); */
	overflow-y: auto; /* Hide vertical scrollbar */
	overflow-x: hidden;
}

.rt-resizable-header-content {
	font-size: 14px;
	font-weight: 700;
}
.tableheader {
	font-size: 14px;
	/* font-weight: 700; */
}
.tabledata {
	font-size: 14px !important;
	font-weight: normal;
}

/* .svg-inline--fa {
	margin-right: 10px !important;
} */
* {
	box-sizing: border-box;
}

/* style the container */
.container {
	position: relative;
	border-radius: 0px;
	background-color: #edebe7;
	padding: 20px 0 30px 0;
	height: 60%;
	/* background-image: url(background.jpg); */
	/* background-color:burlywood; */
}
.right {
	position: absolute;
	right: 70px;
	width: 22%;
	border: 10px solid white;
	padding: 10px;
	margin-top: 150px;
	height: 25rem;
}

/* style inputs and link buttons */
input,
.btn {
	/* width: 13rem; */
	padding: 10px;
	border: none;
	border-radius: 4px;
	margin: 5px 0;
	/* opacity: 0.85; */
	display: inline-block;
	font-size: 0.9rem;
	line-height: 20px;
	text-decoration: none; /* remove underline from anchors */
}
.btn_green:focus,
.btn_green:hover {
	opacity: 0.85;
}
.btn {
	padding: 0.375rem 0.75rem px !important;
	line-height: 15px !important;
	font-size: 0.9rem !important;
}

input:hover,
.btn:hover {
	opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
	background-color: white;
	color: white;
}

.twitter {
	background-color: #55acee;
	color: white;
}

.google {
	background-color: #dd4b39;
	color: white;
}

/* style the submit button */
input[type="submit"] {
	background-color: #0c5ae7;
	color: white;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #4c25b8;
}
h1 {
	margin-left: 4rem;
	color: lightgrey;
}
h2 {
	margin-left: 30px;
	color: lightgrey;
	font-size: 1.1rem;
}
p {
	text-align: right;
}
/* Two-column layout */
.col {
	float: left !important;
	width: 50% !important;
	margin: auto !important;
	padding: 0 10px !important;
	margin-top: 6px !important;
}
.psw {
	float: left;
	width: 10rem;
	margin: auto;
	padding: 20px 10px;
	margin-top: 6px;
	font-size: 12px;
	color: #171616;
	font-weight: bold;
}
.psw:hover {
	text-emphasis-color: #43dd1d;
}
.forgotpsw[type="submit"] {
	float: left;
	width: 10rem;
	margin: auto;
	padding: 5px 5px;
	margin-top: 3rem;
	font-size: 12px;
	color: #171616;
	font-weight: bold;
	box-sizing: content-box;
	margin-top: 3rem;
	height: 1.2rem;
}
.danger_msg {
	font-size: 0.7rem;
	width: 12rem;
}
button[type="submit"] {
	background-color: #03534c;
	color: white;
	cursor: pointer;
	/* width: 10rem;
  height: 2.4rem;
  margin-left: 1.7rem;
  margin-top: 1rem; */
}

button[type="submit"]:hover {
	background-color: #0e4641;
}
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* vertical line */
.vl {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	border: 2px solid #ddd;
	height: 175px;
}

/* text inside the vertical line */
.vl-innertext {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #f1f1f1;
	border: 1px solid #ccc;
	border-radius: 50%;
	padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
	display: none;
}

/* bottom container */
.bottom-container {
	text-align: center;
	background-color: bisque;
	border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
	.col {
		width: 100%;
		margin-top: 0;
	}
	/* hide the vertical line */
	.vl {
		display: none;
	}
	/* show the hidden text on small screens */
	.hide-md-lg {
		display: block;
		text-align: center;
	}
	.inner-addon {
		position: relative;
	}
}
input[type="checkbox"] {
	zoom: 1.1;
	
}

button:disabled {
	/* background: #ededed !important; */
	cursor: not-allowed;
}

.Colors {
	background-color: #61dafb;
	color: black;
}
.Colors1 {
	background-color: #fb61fb;
	color: rgb(228, 24, 24);
}

.pagination > li {
	display: inline;
}

.pagination > li > a,
.pagination > li > span {
	position: relative;
	float: left;
	padding: 2px 8px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: rgba(1, 124, 134, 1);
	text-decoration: none;
	background-color: none;
	border: solid 1px rgba(1, 124, 134, 1);
	margin: 2px;
	border-radius: 4px !important;
	font-size: 12px !important;
}
ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}
ol,
ul {
	margin-top: 0;
	margin-bottom: 10px;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}
html,
body {
	margin: 0;
	font-size: 14px !important;
}
.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 5px 0;
	border-radius: 4px;
}
.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
	color: #777;
	cursor: not-allowed;
	background-color: #fff;
	border-color: rgba(1, 124, 134, 1);
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
	z-index: 1;
	color: white;
	cursor: default;
	background-color: rgba(1, 124, 134, 1);
	border-color: rgba(1, 124, 134, 1);
	font-size: 12px;
}
.ReactTable .rt-thead .rt-th.-sort-asc {
	box-shadow: none !important;
}
.ReactTable .rt-thead .rt-th.-sort-asc::before {
	content: "\2191";
	position: absolute;
	right: 5px;
}

.ReactTable .rt-thead .rt-th.-sort-desc {
	box-shadow: none !important;
}
.ReactTable .rt-thead .rt-th.-sort-desc::before {
	content: "\2193";
	position: absolute;
	right: 5px;
}

.rownoborder > .rt-resizable-header-content > div {
	font-size: 13px !important;
}

.rt-resizable-header-content > div {
	font-size: 13px !important;
}
.rownoborder > .rt-thead > .-header > .rt-tr {
	/* box-shadow: inset 0 0 5px #746060; */
	/* box-shadow: #00000000 0px 1px 2px, #00000012 0px 2px 4px, #00000000 0px 4px 8px, #00000012 0px 8px 16px, #00000012 0px 16px 32px, #00000012 0px 32px 64px !important; */
	padding: 5.4%;
	padding-left: 0%;
	border: solid 0px;
	border-radius: 7px;
}

.tab-content {
	margin-left: 1% !important;
	margin-right: 1% !important;
	/* box-shadow: #00000000 0px 4px 4px, #00000012 0px 4px 4px, #00000000 0px 4px 4px,
		#00000012 0px 4px 4px, #00000012 0px 4px 4px, #00000012 0px 4px 4px !important; */
	/* border-bottom-right-radius: 1rem !important;
	border-bottom-left-radius: 1rem !important; */
	background-color: white;
	border: 1px solid rgb(0, 0, 0, 25%);
	border-top-width: 0px !important;
	height: 100% !important;
}

.btn_green {
	color: #fff !important;
	background-color: rgba(1, 124, 134, 1) !important;
	border-color: rgba(1, 124, 134, 1) !important;
	border-radius: 5px !important;
	height: 2rem;
	padding: 5px 10px;
}

.btn_save_green {
	color: #fff !important;
	background-color: rgba(1, 124, 134, 1) !important;
	border-color: rgba(1, 124, 134, 1) !important;
	border-radius: 5px !important;
	height: 3rem;
	width: 8rem;
	padding: 5px 10px;
	font-size: 20px !important;
}

.color_defult {
	color: rgba(1, 124, 134, 1);
}

.tableexpendicon {
	text-align: center;
	font-weight: bold;
	font-size: 13px !important;
	color: darkturquoise;
}

.rt-resizable-header-content > div {
	font-size: 13px !important;
}
.tableexpendicon {
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	color: darkturquoise;
}
.rt-tr[data-qnt="0"] > .rt-expandable {
	visibility: hidden;
}
.rt-tr-group > .rt-tr {
	color: #000000;
}
.rt-tr-group {
	border-bottom: solid 1px rgb(178, 41, 41, 45%);
	box-sizing: border-box;
	/* padding-bottom: 10px; */

	/* padding-bottom: 10px; */
}
.CosmicTable {
	border: 1px solid rgba(0, 0, 0, 0.1) !important;
	/* box-shadow: #00000000 0px 1px 2px, #00000012 0px 2px 4px, #00000000 0px 4px 8px,
		#00000012 0px 8px 16px, #00000012 0px 16px 32px, #00000012 0px 32px 64px !important; */
	/* border-radius: 1.25rem !important; */
}
.rt-thead.-header > .rt-tr {
	padding-left: 0%;
	border: solid 0px;
}
rt-tr .disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

.CosmicTable .rt-tbody .rt-td {
	border-right: 0px solid rgba(0, 0, 0, 0.02);
}

.WorkoutAttendance .rt-tbody .rt-td {
	border-right: 1 solid rgba(0, 0, 0, 0.1) !important;
}

/* noborder  */

.rownoborder > .rt-thead.-header > .rt-tr {
	padding: 1.4%;
	padding-left: 0%;
	border: solid 0px;
	/* border-radius: 7px; */
}

.rownoborder > .rt-resizable-header-content > div {
	font-size: 13px !important;
}
.rownoborder > .tableexpendicon {
	text-align: center;
	font-weight: bold;
	font-size: 13px !important;
	color: darkturquoise;
}
.rownoborder > .rt-tr[data-qnt="0"] > .rt-expandable {
	visibility: hidden;
}
.rownoborder > .rt-tbody > .rt-tr-group > .rt-tr {
	color: #000000 !important;
	background-color: #ffffff !important;
	border-radius: 0px !important;
	border: 0px solid !important;
}
.rownoborder > .rt-tbody > .rt-tr-group {
	border-bottom: solid 1px rgb(178, 41, 41, 45%) !important;
	box-sizing: border-box !important;
	padding-bottom: 0px !important;
}
.rownoborder {
	border: 0px solid rgba(0, 0, 0, 0.1) !important;
}
.rownoborder > .rt-thead.-header > .rt-tr {
	box-shadow: #00000000 0px 1px 2px, #00000012 0px 2px 4px, #00000000 0px 4px 8px,
		#00000012 0px 8px 16px, #00000012 0px 16px 32px, #00000012 0px 32px 64px !important;
	padding: 0% !important;
	padding-left: 0%;
	border: solid 0px;
	border-radius: 0px;
}

/* Listing-tab-style */
.col > nav.list-tab.nav.nav-tabs .nav-link {
	border-bottom: 2px solid rgb(0, 0, 0, 25%) !important;
	/* box-shadow: rgb(0, 0, 0, 25%) 0px 4px 4px !important; */
	/* border-top-left-radius: 1.25rem !important;
	border-top-right-radius: 1.25rem !important; */
	color: rgb(163, 171, 172) !important;
	font-size: 14px !important;
	font-weight: bold !important;
}

.col > nav.list-tab.nav.nav-tabs .nav-link:focus,
.col > nav.list-tab.nav.nav-tabs .nav-link:hover {
	border-color: #010101 #000000 #0e0e0f !important;
	border: 0px solid rgb(0, 0, 0, 25%) !important;
	/* box-shadow: rgb(0, 0, 0, 25%) 0px 4px 4px !important; */
}

.col > nav.list-tab.nav.nav-tabs .nav-item.show .nav-link,
.col > nav.list-tab.nav.nav-tabs .nav-link.active {
	color: rgba(1, 124, 134, 1) !important;
	font-weight: bold;
	font-size: 14px !important;
	border: 0px solid !important;
	border-bottom: 4px solid !important;
	/*border-color: none !important;*/
}

.col > nav.list-tab.nav.nav-link:focus,
.col > nav.list-tab.nav.nav-tabs .nav-link:hover {
	border-bottom: 4px solid rgba(1, 124, 134, 1) !important;
}

.col > nav.list-tab.nav.nav-tabs {
	/* border: 1px solid #171717; */
	border-right: 0px solid !important;
	/* border-top-left-radius: 1rem !important;

	border-bottom-right-radius: 1.25rem !important;
	border-top-right-radius: 1.25rem !important; */
	border-right: 0px solid !important;
	background-color: white !important;

	border-bottom: 0px solid !important;
}
.col > nav.list-tab.nav.nav-tabs {
	display: table !important;
	width: 98%;
	table-layout: fixed;
	margin-left: 1%;
	margin-right: 1%;
	/* border-top-left-radius: 1rem !important; */
}
.col > nav.list-tab.nav.nav-tabs > a {
	float: none;
	display: table-cell;
}
.col > nav.list-tab.nav.nav-tabs > a {
	text-align: center;
}

rt-tr .disabled {
	opacity: 0.6;
	cursor: not-allowed;
}
.rownoborder .rt-tbody {
	padding-top: 0px;
}
.rt-thead .-header {
	background-color: #07b378 !important;
}
.rownoborder .rt-thead .rt-th,
.rownoborder .rt-thead .rt-td {
	border-right: 1px solid rgba(0, 0, 0, 0.05) !important;
}
.rownoborder .rt-tbody .rt-td {
	border: 0px solid;
}
.rownoborder > .rt-table {
	/* box-shadow: #00000000 0px 1px 2px, #00000012 0px 2px 4px, #00000000 0px 4px 8px,
		#00000012 0px 8px 16px, #00000012 0px 16px 32px, #00000012 0px 32px 64px !important; */
	/* border-radius: 1rem !important; */
	border: 1px solid rgb(0, 0, 0, 25%);
}
/* .rownoborder > .rt-noData {
	display: none !important;
} */

.ReactTable .rt-thead .rt-th.-sort-asc {
	box-shadow: none !important;
}
.ReactTable .rt-thead .rt-th.-sort-asc::before {
	content: "▼";
	position: absolute;
	right: 5px;
}

.ReactTable .rt-thead .rt-th.-sort-desc {
	box-shadow: none !important;
}
.ReactTable .rt-thead .rt-th.-sort-desc::before {
	content: "▲";
	position: absolute;
	right: 5px;
}
.ReactTable .rt-thead.-header {
	/* box-shadow: 0 2px 15px 0 rgb(0 0 0 / 15%); */
	background: #c29a37;
	color: white;
	/* border-top-left-radius: 1rem !important;
	border-top-right-radius: 1rem !important; */
	font-weight: bold;
}
.rownoborder > .rt-noData {
	/* display: none; */
	margin-top: 4%;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.card-header {
	border-radius: 0rem 0rem 0rem 0rem !important;
	background-color: #c29a37 !important;
	/* box-shadow: #00000000 0px 1px 2px, #00000012 0px 2px 4px, #00000000 0px 4px 8px,
		#00000012 0px 8px 16px, #00000012 0px 16px 32px, #00000012 0px 32px 64px !important; */
}
.card-header::before {
	border-radius: 0rem !important;
}
.icon_color {
	color: #c29a37 !important;
}

.table-nodata-style {
	text-align: center;
	padding: 30px;
}

.filter-heading-font {
	font-weight: bold;
	font-size: 14px;
}
.w-80 {
	width: 80% !important;
}
.grid-username-font {
	font-weight: bold;
	font-size: 13px;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: rgb(191 191 191) !important;
}
::-moz-placeholder {
	/* Firefox 19+ */
	color: rgb(191 191 191) !important;
}
:-ms-input-placeholder {
	/* IE 10+ */
	color: rgb(191 191 191) !important;
}
:-moz-placeholder {
	/* Firefox 18- */
	color: rgb(191 191 191) !important;
}
.link {
	color: #03534c !important;
	font-weight: bold !important;
}
.ant-picker-large {
	width: 100% !important;
	/* position: absolute !important; */
}
.ant-space-vertical {
	flex-direction: column;
	width: 100% !important;
}
.search-msg-error {
	position: relative;
	margin-top: 7px;
	margin-right: 10px;
	color: red;
}
.link-expired-page {
	position: relative;
	margin: 2%;
	text-align: center;
	color: #fff;
}
.ant-select {
	width: 100% !important;
}
.ant-input {
	width: 100% !important;
}

.tbl_bottom_border > .rt-table > .rt-tbody > .rt-tr-group {
	border: 4px solid rgb(0 0 0 / 35%) !important;
	border-radius: 0px;
	margin-bottom: 10px !important;
}
.RoleTbl {
	border: 0px solid !important;
}
.RoleTbl>.rt-table>.-header/*>.rt-tr>.rt-th { */ {
	display: none !important;
	border: 0px solid !important;
}
.RoleTbl > .rt-table > .rt-tbody > .rt-tr-group > .rt-tr > .rt-td {
	border: 0px solid !important;
}
.filterSearch {
	box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px !important;

	padding: 10px !important;
}

.accordion {
	background-color: rgb(255, 255, 255);
	color: #03534c;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 13px;
	transition: 0.4s;
}

button > .active,
.accordion:hover {
	background-color: #ccc;
}

.panel {
	padding: 0 18px;
	display: none;
	background-color: white;
	overflow: hidden;
}

.tbl_header_border > .rt-table > .rt-thead > .rt-tr > .rt-th {
	border-right: 0px solid rgb(0 0 0 / 0%) !important;
}
/* Role-tab-style */
.col > nav.Role-tab.nav.nav-tabs .nav-link {
	/* border: 1px solid rgb(0, 0, 0, 25%) !important; */
	/* box-shadow: rgb(0, 0, 0, 25%) 0px 4px 4px !important; */
	box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px !important;

	color: rgba(1, 124, 134, 1) !important;
	font-weight: bold !important;
	border-bottom: 2px solid #d9d9d985 !important;
}

.col > nav.Role-tab.nav.nav-tabs .nav-link:focus,
.col > nav.Role-tab.nav.nav-tabs .nav-link:hover {
	border-color: #010101 #000000 #0e0e0f !important;
	/* border: 1px solid rgb(0, 0, 0, 25%) !important; */
	/* box-shadow: rgb(0, 0, 0, 25%) 0px 4px 4px !important; */
	box-shadow: 0 5px 19px 2px rgba(0, 0, 0, 0.1) !important;

	border: 0px solid !important;
}

.col > nav.Role-tab.nav.nav-tabs .nav-item.show .nav-link,
.col > nav.Role-tab.nav.nav-tabs .nav-link.active {
	color: rgba(1, 124, 134, 1) !important;
	font-weight: bold;
	border: 0px solid !important;
	/*border-color: none !important;*/
	box-shadow: 0 5px 19px 2px rgba(0, 0, 0, 0.1) !important;
}

.col > nav.Role-tab.nav.nav-link:focus,
.col > nav.Role-tab.nav.nav-tabs .nav-link:hover {
	/* border: 0px solid !important; */
	border: 0px solid !important;
	box-shadow: 0 5px 19px 2px rgba(0, 0, 0, 0.1) !important;
}

.col > nav.Role-tab.nav.nav-tabs {
	/* border: 1px solid #171717; */
	border-right: 0px solid !important;

	border-right: 0px solid !important;
	background-color: white !important;

	border-bottom: 0px solid !important;
}
.col > nav.Role-tab.nav.nav-tabs {
	display: table;
	width: 98%;
	table-layout: fixed;
	margin-left: 1%;
	margin-right: 1%;
}
.col > nav.Role-tab.nav.nav-tabs > a {
	float: none;
	display: table-cell;
}
.col > nav.Role-tab.nav.nav-tabs > a {
	text-align: center;
}
.col > nav.Role-tab > .tab-content {
	margin-left: 1% !important;
	margin-right: 1% !important;
	box-shadow: #00000000 0px 4px 4px, #00000012 0px 4px 4px, #00000000 0px 4px 4px,
		#00000012 0px 4px 4px, #00000012 0px 4px 4px, #00000012 0px 4px 4px !important;
	/* box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px !important; */

	background-color: white;
	border: 1px solid rgb(0, 0, 0, 25%);
	/* border-top-width: 0px !important; */
	height: 100% !important;
}

.label_textbox_left > span > span {
	background-color: #017c86;
	color: white;
	padding-left: 25px !important;
	padding-right: 25px !important;
}
.label_textbox_right > span > span {
	background-color: #017c86;
	color: white;
	padding-left: 25px !important;
	padding-right: 25px !important;
}

.icon_Delete {
	color: red !important;
}
.icon_Green {
	color: green !important;
}
.icon_Orange {
	color: green !important;
}
.icon_gray {
	color: gray !important;
}
.icon_eye {
	color: #017c86 !important;
}
.icon_edit {
	color: #017c86 !important;
}
.status_Expired {
	color: #00498b;
	padding: 2px 5px !important;
	font-weight: 550;
	background-color: #e7eafc;
}
.status_Pending {
	color: #a7a7a7;
	padding: 2px 5px !important;
	font-weight: 550;
	background-color: #d4d5f433;
}
.status_Registered {
	color: #008995;
	padding: 2px 5px !important;
	font-weight: 550;
	background-color: #e0f6ff;
}
.status_Resent {
	color: #ed7700;
	padding: 2px 5px !important;
	font-weight: 550;
	background-color: #fef2db;
}
.status_sent {
	padding: 2px 5px !important;
	font-weight: 550;
	color: green !important;
	background-color: #e1f6e1;
}
.status_Failure {
	padding: 2px 5px !important;
	font-weight: 550;
	color: #f30707 !important;
	background-color: #ffe2e2;
}

input {
	border: 0px solid !important;
	border-radius: 0px !important;
}
.textfiled {
	border-bottom: 1px solid #ced4da !important;
	height: 35px;
	border-radius: 0px !important;
	/* padding-left: 10% !important;
	padding-right: 10% !important; */
}

.ant-input-borderless,
.ant-input-borderless:hover,
.ant-input-borderless:focus,
.ant-input-borderless-focused,
.ant-input-borderless-disabled,
.ant-input-borderless[disabled],
.ant-picker-input > input {
	padding-left: 0px !important;
	border-right-style: 0px solid;
	border-right-style: hidden !important;
}
.tbl_listfiled {
	border-bottom: 1px solid #ced4da !important;
	height: 85% !important;
}
.tbl_OtherInfo {
	border: none !important;
	height: 85% !important;
}
.tbl_textfiled {
	border-bottom: 1px solid #ced4da !important;
	height: 85% !important;
}
.textfiled:hover,
.textfiled:focus,
.tbl_listfiled:hover,
.tbl_listfiled:focus {
	border: 0px solid !important;
	border-bottom: 1px solid #03534c !important;
}
.tbl_textfiled:hover,
.tbl_textfiled:focus {
	border: 0px solid !important;
	border-bottom: 1px solid #03534c !important;
}

.InviteUser .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector {
	height: 35px !important;
	padding-left: 0px !important;
}
.InviteUser .ant-select:not(.ant-select-customize-input) .ant-select-selector {
	position: relative;
	height: 35px !important;
	background-color: #fff;
	border: 0px solid #d9d9d9;
	border-radius: 0px;
	padding-left: 0px !important;
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ant-picker-large {
	padding: 0px 11px 0px !important;
}
.ant-select-lg {
	font-size: 14px;
	padding-bottom: 0px !important;
}
.ant-select-multiple.ant-select-lg .ant-select-selection-item {
	height: 21px !important;
	line-height: 20px !important;
}
.ant_text_pleace {
	padding-left: 0px !important;
	text-align: left !important;
}
.ant-input:placeholder-shown {
	font-size: 13px;
}
.ant-picker-large .ant-picker-input > input {
	font-size: 14px;
}
.popup_txt {
	color: #03534c;
	font-size: 14px !important;
}
.popup_header {
	color: #ffffff;
	background-color: #03534c;
}
.vertical_center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector::after,
.ant-select-single.ant-select-lg:not(.ant-select-customize-input)
	.ant-select-selector
	.ant-select-selection-item,
.ant-select-single.ant-select-lg:not(.ant-select-customize-input)
	.ant-select-selector
	.ant-select-selection-placeholder {
	line-height: 33px;
}
/* .anticon {
	vertical-align: middle !important;
	margin-left: -1rem;
	margin-top: -17rem;
} */

.ant-select-item-option-content {
	font-size: 13px !important;
}
.ant-notification-notice-with-icon .ant-notification-notice-message {
	font-size: 14px;
}
.Input_height > .tbl_textfiled {
	height: 30.5px !important;
}

.tab_form_content {
	font-size: 14px;
	font-weight: bolder;
}

.datepickerfiled > div {
	border-bottom: 1px solid #ced4da !important;
}
.datepickerfiled >div > input{
	padding-left:0px !important;
}
#Formage{
	padding-left:15px !important;
}

.popupborder > div > div {
	border: 2px solid #03534c !important;
	border-radius: 2px;
}
.singletab > div > nav > a {
	display: inline-block !important;
}
.hidden {
	display: none !important;
}

.label_textbox_left > span > span {
	border-top-left-radius: 2rem;
	border-bottom-left-radius: 2rem;
	border: 1px solid #017c86 !important;
}

.label_textbox_left > span > input {
	border-top-right-radius: 2rem !important;
	border-bottom-right-radius: 2rem !important;
	border: 1px solid #017c86 !important;
}
.ant-input-group-addon {
	padding: 0 11px !important;
	font-size: 13px !important;
}
.content_Header {
	/* border-bottom: 4px solid #017c86; */
	display: table !important;
	color: #017c86;
	font-size: 14px !important;
	font-weight: bold;
}
.dynamic_checkbox > span > input {
	margin: 0px !important;
}
.filed_Panel {
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	padding: 10px !important;
}
.perimmison_module {
	color: #017c86 !important;
	font-weight: bold;
}
.roleGroup {
	border-left: 1px solid #80808059;
	border-right: 1px solid #80808059;
	border-top: 1px solid #dddddd94;
	margin-bottom: 10px;
}
.rolegroupvisible {
	display: block !important;
}

.ant-select-multiple .ant-select-selection-placeholder {
	left: 0px !important;
}
.ReactTable input,
.ReactTable select {
	padding-left: 0px !important;
}
.ant-picker.ant-picker-borderless {
	padding-left: 0px !important;
}
.ant-select-borderless .ant-select-selector {
	padding-left: 0px !important;
}
.ant-select-single .ant-select-selector .ant-select-selection-search {
	left: 0px !important;
}
.ant-input-lg {
	font-size: 14px !important;
}
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
	border-right-style: none !important;
}
.ant-select-selection-item {
	color: rgba(0, 0, 0, 0.85) !important;
}
.ant-select-selection-overflow {
	padding-left: 0px !important;
}
.ant-input[disabled]:hover {
	border-right-width: 0px !important;
}
.FilterMulti .ant-select-selection-placeholder {
	padding: 8px !important;
}

a.disabled {
	pointer-events: none;
	cursor: default;
	opacity: 0.5;
}

.disabled {
	pointer-events: none;
	cursor: not-allowed;
}

.editSportLevel .disabled {
	border: none !important;
	pointer-events: none;
	cursor: not-allowed;
}
.label_textbox_right > span > span {
	border-top-right-radius: 2rem;
	border-bottom-right-radius: 2rem;
	border: 1px solid #017c86 !important;
}
.label_textbox_right > span > input {
	border-top-left-radius: 2rem !important;
	border-bottom-left-radius: 2rem !important;
	border: 1px solid #017c86 !important;
}

.icon_Delete_dis {
	color: #ff8989;
}
.no-outline:focus {
	outline: none;
}
input[type="text"]:focus {
	outline: none;
}

.ReactTable input,
.ReactTable select {
	padding-left: 0px !important;
}
.ant-picker.ant-picker-borderless {
	padding-left: 0px !important;
}
.ant-select-borderless .ant-select-selector {
	padding-left: 0px !important;
}
.ant-select-single .ant-select-selector .ant-select-selection-search {
	left: 0px !important;
}
.ant-input-lg {
	font-size: 14px !important;
}
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
	border-right-style: none !important;
}
.ant-select-selection-item {
	color: rgba(0, 0, 0, 0.85) !important;
}
.ant-select-selection-overflow {
	padding-left: 0px !important;
}
.ant-input[disabled]:hover {
	border-right-width: 0px !important;
}
.modal-header {
	background-color: #03534c !important;
	border: 0px solid #03534c !important;
	color: white !important;
	font-size: 14px !important;
	font-weight: bold;
	margin: 0px !important;
}
.modal-content {
	border: 0px solid #03534c !important;
}
.modal-body {
	min-height: 125px !important;
}
.list_header {
	background-color: #03534c !important;
	color: white;
}
.List_group {
	max-height: 200px !important;
	overflow: auto !important;
}
.scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #f5f5f5;
	border-radius: 10px;
}

.scrollbar::-webkit-scrollbar {
	width: 5px;
	background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #fff;
	background-image: -webkit-gradient(
		linear,
		40% 0%,
		75% 84%,
		from(#017c86),
		to(#017c86),
		color-stop(0.6, #0bc9b9)
	);
}
.modal-content {
	margin-top: 5.5% !important;
}
.ant-upload.ant-upload-drag {
	height: 175px !important;
}
.ant-input-affix-wrapper-lg {
	padding-left: 0px !important;
}

.ant-upload-list-item-card-actions-btn {
	opacity: unset !important;
}
.ant-select-selection-search {
	padding-left: 0px !important;
	margin-left: 0px !important;
}
.ant-notification {
	z-index: 9999 !important;
}
.modal-backdrop {
	z-index: 0 !important;
}
.modal {
	z-index: 1 !important;
}
.ant-spin-dot-item,
.ant-spin {
	z-index: 10000;
}
.ReactTable .rt-tbody {
	overflow: hidden !important;
}
.table_overme {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	/* color: red; */
}
.invite-game-pending-status {
	color: #ed7700;
	background-color: #fef2db;
	width: 80px;
	text-align: center;
	padding: 0px;
	font-weight: bold;
}
.invite-game-accepted-status {
	background-color: green;
	background-color: #e1f6e1;
	width: 80px;
	text-align: center;
	padding: 0px;
	font-weight: bold;
}
.invite-game-declined-status {
	color: #f30707 !important;
	background-color: #ffe2e2;
	width: 80px;
	text-align: center;
	padding: 0px;
	font-weight: bold;
}
.ant-upload-list-item-card-actions-btn {
	opacity: unset !important;
}
.ant-select-selection-search {
	padding-left: 0px !important;
	margin-left: 0px !important;
}
.ant-notification {
	z-index: 9999 !important;
}
.modal-backdrop {
	z-index: 0 !important;
}
.modal {
	z-index: 1 !important;
}
.ant-spin-dot-item,
.ant-spin {
	z-index: 10000;
}
.ReactTable .rt-tbody {
	overflow: hidden !important;
}
.table_overme {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	/* color: red; */
}
.invite-game-pending-status {
	color: #ed7700;
	background-color: #fef2db;
	width: 80px;
	text-align: center;
	padding: 0px;
	font-weight: bold;
}
.invite-game-accepted-status {
	color: green;
	background-color: #e1f6e1;
	width: 80px;
	text-align: center;
	padding: 0px;
	font-weight: bold;
}
.invite-game-declined-status {
	color: #f30707 !important;
	background-color: #ffe2e2;
	width: 80px;
	text-align: center;
	padding: 0px;
	font-weight: bold;
}
.add-program-datepicker {
	margin-top: 2px;
	padding-right: 0px !important;
	width: 100% !important;
}
.add-program-box {
	border-bottom: 1px solid #ced4da !important;
	padding-bottom: 25px;
}
.search-athlete-box {
	font-weight: bold;
	font-size: 17px;
}
.add-program-search-box {
	border: 1px solid #ced4da !important;
	border-radius: 20px !important;
	background-color: #f7f7f7 !important;
}
.add-program-search-icon {
	position: absolute;
	right: 35px;
	top: 8px;
	font-size: 17px !important;
}
.add-program-color {
	color: #017c87;
}
.add-program-in-add-user {
	height: auto;
	padding: 12px;
	background: #f7f7f7;
}
.add-program-available-user {
	position: initial;
	right: 0;
}
.available-user-in-add-program-label {
	position: relative;
}
.add-program-plus-icon {
	position: relative;
	font-size: 64px;
	text-align: center;
	top: 30px;
	color: #fff;
	background-color: #eee;
}
.available-user-icon {
	width: 40px;
}
.add-user-list-item {
	width: 97%;
	border-radius: 12px;
	/*line-height: 2px;*/
	background-color: #eee;
	border-radius: 12px !important;
	/*margin-top: 10px;*/
}
/*li.add-user-list-item {
		margin-top: 5px !important;
	}*/
.add-user-list-item:not(:first-child) {
	margin-top: 5px !important;
}
.add-user-list-item > li:first-child {
	margin-top: 0 !important;
}
.program-datepicker {
	padding-right: 0 !important;
	padding-top: 0 !important;
	margin-top: 0 !important;
}
.program-filter {
	margin: 14px;
	margin-top: 0px;
	padding-top: 0px;
}
ul:first-child {
	margin-top: 0px !important;
}
.program-list-left {
	text-align: left !important;
}
.icon_red {
	color: red !important;
}

.schedule-baner {
	/* background-color: #1b4f46; */
	background-image: linear-gradient(to right, #d6af43, #dcdad2, #e4af1e);
	min-height: 110px !important;
	/* background-image: url("../image/Banner13.png");
background-position: center; */
}
.schedule-baner-img {
	/* background-color: #1b4f46;
min-height: 110px !important; */
	background-image: url("../content/images/Schedule-Banner.png");
	background-position: center !important; /*right */
	/* background-size: auto !important; */
	background-size: 100% 100% !important;
	height: 170px;
}
.schedule-baner-box-item {
	color: white !important;
	background-color: #f5f5f02e !important;
	height: 70px !important;
	border-radius: 10px;
}
.schedule-heder {
	font-size: 60px !important;
	line-height: 66px !important;
}
.schedule-sub-heder {
	font-size: 30px !important;
	line-height: 20px !important;
}
.schedule-header-btn {
	/* border: 1px solid;
		padding: 10px; */

	color: #fff !important;
	background-color: rgba(1, 124, 134, 1) !important;
	border-color: rgba(1, 124, 134, 1) !important;
	border-radius: 16px !important;
	height: 3rem;
	font-size: 20px !important;
	padding: 5px 10px;
	/* box-shadow: 8px 8px 4px #6cb3b9 !important; */
}
.schedule-header-btn:hover,
.schedule-header-btn:focus,
.schedule-header-btn:active,
.schedule-header-Active-btn {
	opacity: 0.85;
	box-shadow: 5px 10px !important;
	border-radius: 16px !important;
	box-shadow: 8px 8px 4px #6cb3b9 !important;
}

.arrow_Icons {
	color: #017c86 !important;
	font-weight: bold;
}

.schedule-day-box {
	min-height: 110px !important;
	width: 100% !important;
	border-radius: 15px !important ;
}
.schedule-week-box {
	min-height: 110px !important;
	width: 100% !important;
	border-radius: 15px !important;
	padding-bottom: 5px;
}
.schedule-day-subbox {
	/* border: 1px solid; */
	padding: 2px 10px 2px 10px;
	font-weight: bold;
	width: 100% !important;
	border-radius: 15px !important ;
	color: black !important;
	background-color: white !important;
}
.schedule-week-subbox {
	/* border: 1px solid; */
	padding: 2px 10px 2px 10px;
	word-break: break-word;
	font-weight: bold;
	max-width: 100% !important;
	border-radius: 5px !important ;
	color: black !important;
	background-color: white !important;
}
.schedule-day-box-default-color {
	background-color: #acd4d8;
	color: rgb(255, 255, 255);
	border: 1px solid #3998a1;
	box-shadow: 10px 10px 5px #cce5e7;
}

.schedule-day-box-runing-color {
	background-color: #56c477;
	color: rgb(255, 255, 255);
	border: 1px solid #4fa8a7;
	box-shadow: 10px 10px 5px #d8f3df;
}
.schedule-day-box-stop-color {
	background-color: #f79a25;
	color: rgb(255, 255, 255);
	box-shadow: 10px 10px 5px #facabc;
}
.schedule-week-box-stop-color {
	background-color: #f79a25;
	color: rgb(255, 255, 255);
	box-shadow: 10px 10px 5px #facabc;
}
.schedule-week-header {
	background-color: #c29a37;
	color: white;
	width: 110px;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
}

.schedule-click-icon {
	color: #6cc697 !important;
	font-size: 25px;
	background-color: #48a031 !important;
	border-radius: 50% !important;
}
.schedule-running-icon {
	color: #919352 !important;
	font-size: 25px;
	background-color: #d83608 !important;
	border-radius: 50% !important;
}
.schedule-running-icon-prop {
	margin-left: -3px !important;
	margin-right: -3px !important;
}
.schedule-click-text {
	color: #2a7d88 !important;
	font-size: 10px !important;
}
.schedule-running-text {
	font-size: 10px !important;
}

.schedule-stop-text {
	font-size: 10px !important;
}

.schedule-month-day-btn {
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 15px;
	background-color: #c29a37;
	color: white;
	font-weight: bold;
	box-shadow: 5px 5px 2px #dec890;
	line-height: 25px !important;
}
.schedule-month-day-btn:focus,
.schedule-month-day-btn:hover,
.schedule-month-day-btn:active,
.schedule-month-day-btn:focus-within,
.schedule-month-day-btn:focus-visible,
.schedule-month-day-active-btn,
.schedule-month-day-active-btn:hover,
.schedule-month-day-active-btn:active,
.schedule-month-day-active-btn:focus {
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 15px;
	background-color: #2a7c87;
	color: white;
	font-weight: bold;
	line-height: 25px !important;
	box-shadow: 5px 5px 2px #86c0c5;
}
@media (min-width: 768px) {
	.seven-cols .col-md-1,
	.seven-cols .col-sm-1,
	.seven-cols .col-lg-1 {
		width: 100%;
		*width: 100%;
	}
}

@media (min-width: 992px) {
	.seven-cols .col-md-1,
	.seven-cols .col-sm-1,
	.seven-cols .col-lg-1 {
		width: 14.285714285714285714285714285714%;
		*width: 14.285714285714285714285714285714%;
		max-width: 14.285714285714285714285714285714% !important;
		flex: none !important;
	}
}

@media (min-width: 1200px) {
	.seven-cols .col-md-1,
	.seven-cols .col-sm-1,
	.seven-cols .col-lg-1 {
		width: 14.285714285714285714285714285714%;
		*width: 14.285714285714285714285714285714%;
		max-width: 14.285714285714285714285714285714% !important;
		flex: none !important;
	}
}

svg {
	cursor: pointer !important;
}

.diet-group-box {
	background-color: #e0e0e0;
	border: 1px solid #c5b396;
	padding: 20px;
	margin: 15px;
	border-radius: 8px;
	margin-bottom: 25px;
}
.diet-expand-btn {
	padding-right: 30px;
	border: 1px solid #2f817e;
	border-radius: 2px;
	background-color: white;
	padding-inline-end: 20px;
	font-weight: bold;
	padding-inline-start: 20px;
}
.diet-expand-btn-div {
	padding-right: 30px;
}
.diet-expand-icon {
	color: #2f817e;
	font-weight: bold;
	font-size: 22px !important;
	cursor: pointer !important;
}
.diet-subheader-active {
	color: #b59651 !important;
}
/* .diet-chart-body{
	background-color: #e0e0e0 !important;
} */
.line_limit {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1; /* number of lines to show */
	line-clamp: 1;
	-webkit-box-orient: vertical;
}

/* Dashbord Athlete screen css */

.athlete-dashboard-container {
	min-height: 250px; /*250px; */
	background-color: #f3f3f3;
	padding: 20px;
	max-height: 250px;
	height: 250px;
	box-shadow: 7px 7px 5px rgba(240, 128, 168, 1);
	border-radius: 20px;
}

.athlete-dashboard-header {
	font-weight: bold;
	font-size: 20px;
	/* border-left: 5px solid;
    border-left: 6px solid; */
	position: absolute;
	padding-left: 6px;
	border-color: -moz-linear-gradient(top, #555555, #111111);
	border-color: -moz-linear-gradient(top, #555555, #111111);
	color: linear-gradient(to right, red, yellow);
	background-color: #ad78f3;
	background-image: linear-gradient(45deg, #7366ff, #f00651);
	/* background-image: linear-gradient(45deg, #3300f7, #e300ff, #f90000); */
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}
.athlete-dashbord-tooltip {
	color: purple;
}
.athlete-dashbord-header-left-border {
	width: 5px;
	height: 25px !important;
	border-radius: 10px;
	background: linear-gradient(#7366ff, #f00651);
}
.truncate {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.color-textfiled {
	border: 1px solid #c29a37 !important;
	border-radius: 7px !important;
	background-color: white !important;
}
.selectBoi > span {
	color: rgb(104, 0, 179);
	font-size: 19px !important;
	font-weight: bolder;
	right: 6px !important;
	margin-top: -8px;
}
.training-performance-box {
	border: 1px dotted gray !important;
	padding: 10px !important;
	margin-top: 10px;
	/* background-color: #b7b1b121; */
}
.color-textfiled > .ant-select-selector {
	height: 34px !important;
}
.color-textfiled > .ant-select-selector > span > .ant-select-selection-search-input {
	height: 34px !important;
}
/* select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") right red;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  border: 1px solid #dfdfdf;
  color: red;
  border-radius: 2px;
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 2rem;
} */
.selectdiv {
	position: relative;
	/*Don't really need this just for demo styling*/

	float: left;
	width: 100%;
	/* margin: 50px 33%; */
}

.selectdiv:after {
	/* content: "\f0d7";
	font: normal normal normal 30px/1 FontAwesome; */
	color: #297b86;
	right: 11px;
	top: 6px;
	height: 34px;
	/* padding: 3px 0px 0px 8px; */
	/* border-left: 1px solid #0ebeff; */
	/* position: absolute;
	pointer-events: none; */
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
	display: none;
}

.selectdiv select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/* Add some styling */

	display: block;
	width: 100%;
	/* max-width: 320px; */
	/* height: 50px; */
	float: right;
	margin: 5px 0px;
	padding: 0px 24px;
	font-size: 14px;
	line-height: 1.75;
	color: #333;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #0ebeff;
	-ms-word-break: normal;
	word-break: normal;
}
.btn_lg_green {
	color: #fff !important;
	background-color: rgba(1, 124, 134, 1) !important;
	border-color: rgba(1, 124, 134, 1) !important;
	border-radius: 5px !important;
	height: 34px;
	padding: 2px 10px;
	font-weight: bold;
	font-size: 14px !important;
	width: 100%;
}

.color-textfiled>.ant-select-selector {
    position: relative;
    background-color: #fff;
    border: 0px solid #d9d9d9;
    border-radius: 6px !important;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}


.add-prog-date:hover{
	/* border: 0px solid !important; */
	border-bottom: 1px solid #03534c !important;
}