.img-circle {
	border-radius: 50%;
}

.profileId-Padding {
	padding-left: 54px;
}

.header-icons-font {
	font-size: 24px;
}

.content-page-style {
	padding: 0;
	margin-top: 15px;
}

.layout-back-color {
	background-color: #f5f5f5;
}

.photo {
	width: 110px;
	height: 110px;
	margin-top: -60px;
	border-radius: 100px;
	border: 2px solid #e0e0e0;
}
.bx-container {
	background-color: rgba(255, 255, 255, 0.9);
	margin-top: -130px;
	height: 130px;
}
.panel {
	border: none;
	margin-bottom: 10px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
	border: none;
}
.profile-inner-pages {
	/* background-image: url(../images/inner-bg.jpg); */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: rgba(12, 158, 114, 1);
	height: 265px;
}
.b-editprofile-0 {
	bottom: 0px !important;
}
.profile-btn {
	border-radius: 40px;
	position: absolute;
	right: 20px;
	bottom: 5px;
	text-align: center;
}
.profile-left .btn {
	font-size: 13px;
	font-weight: 400;
	border-radius: 2px;
	padding: 2px !important;
}
/* .btn-primary {
	background-color: rgba(12, 158, 114, 1) !important;
	border: 1px solid rgba(12, 158, 114, 1) !important;
} */

.position-rt {
	right: 0 !important;
}

.home-palet-position {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
}
.content-padding {
	padding-right: 15px !important;
	padding-left: 5px !important;
	margin-right: auto !important;
	margin-left: auto !important;
}
.portlet {
	background: #ffffff;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-border-radius: 0;
	margin-bottom: 20px;
	transition: all 0.4s;
	border: none;
}
.portlet .portlet-heading {
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	color: #ffffff;
	padding: 15px 20px 0;
	/* margin: -2px -2px 0 -2px; */
}

.portlet .portlet-heading {
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	color: #ffffff;
	padding: 15px 20px 0;
	/* margin: -2px -2px 0 -2px; */
}
.p-b-15 {
	padding-bottom: 15px !important;
}

.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu .ant-menu-dark .ant-menu-sub,
.default-backgroundColor {
	background: rgb(5 35 30) !important;
}

.default-bgcolor {
	background-color: #e4c265 !important;
}

.ant-upload-list-item-list-type-picture-card,
.ant-upload-select-picture-card,
.default-bordercolor {
	border: 4px solid #e4c265 !important;
}

.ant-upload-select-picture-card .ant-upload {
	padding-top: 104%;
}

.ant-tooltip {
	display: none !important;
}

.default-iconcolor {
	color: rgba(228, 194, 101, 1) !important;
}

.default-textstyle {
	color: rgba(1, 124, 134, 1) !important;
	font-weight: bold !important;
	font-size: 18px !important;
}

.default-subHeading-textstyle {
	margin-left: 10px;
	color:rgba(228, 194, 101, 1)!important;
	font-weight: bold !important;
	font-size: 20px !important;
	/* text-decoration: underline; */
}

.portlet .portlet-heading .portlet-title {
	color: #161616;
	float: left;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 0px;
	text-transform: none;
	letter-spacing: 0px;
}
.topbar {
	left: 0;
	right: 0;
	top: 0;
	z-index: 999;
	margin: 0 auto;
}

.wrapper {
	height: 100%;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 0px;
	background-color: #f5f5f5;
	box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

/* .container {
    height: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto;
    margin-left: auto;
    width:100% !important;
    max-width: 100% !important;
} */
.edit-profile-icon-style {
	width: 18px !important;
	height: 18px !important;
	float: right;
	padding-left: 10px !important;
	padding-right: 15px !important;
}
.edit-profile-text {
	padding-left: 10px !important;
	padding-right: 10px !important;
	width: 75%;
}

#components-layout-demo-responsive .logo {
	height: 32px;
	margin: 16px;
	background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
	background: #fff;
}

.site-layout-background {
	background-color: #f5f5f5 !important;
}
body {
	background-color: #f5f5f5 !important;
}

#components-layout-demo-custom-trigger .trigger {
	padding: 0 24px;
	font-size: 18px;
	line-height: 64px;
	cursor: pointer;
	transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
	color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
	height: 32px;
	margin: 16px;
	background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
	background: #ffffff9c;
}

.header-height {
	padding: 7px 0px 0px 0px !important;
}
.header-bell-right-pad {
	padding: 0px 5px 0px 0px !important;
}
.ant-layout {
	display: flex;
	flex: auto;
	flex-direction: column;
	min-height: 0;
	background: none !important;
}
.ant-layout-header {
	height: 64px;
	padding: 0 !important;
	color: rgba(0, 0, 0, 0.85);
	line-height: 64px !important;
	background: #000000;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
	background-color: rgb(253 253 253 / 12%) !important;
}
.menu-icon-style {
	margin-bottom: 16px;
	border: none;
	color: black;
	background-color: black;
}

.background-body-color {
	background-color: white !important;
}

.transbox-body-color {
	background-color: transparent;
}

.transbox-body-content-bg {
	background-color: white;
}

/* .transbox-body-sidebar-bg {
	background: rgba(12, 55, 48, 1);
} */
.transbox-sidebar-submenu-bg {
	background-color: #ffffff9c;
	background: #ffffff9c;
}
.transbox-body-content {
	font-weight: bold;
}

.transbox-body-tab-button {
	margin-top: 5% !important;
}

.ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon,
.ant-menu-dark .ant-menu-item-selected .anticon {
	color: rgba(228, 194, 101, 1) !important;
}
.ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon + span,
.ant-menu-dark .ant-menu-item-selected .anticon + span {
	color: rgba(228, 194, 101, 1) !important;
}
.ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-item-group-title,
.ant-menu-dark .ant-menu-item > a,
.ant-menu-dark .ant-menu-item > span > a {
	color: white !important;
}
.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
	color: white !important;
	font-weight: normal;
}
.ant-menu-dark .ant-menu-item:hover,
.ant-menu-dark .ant-menu-item-active,
.ant-menu-dark .ant-menu-submenu-active,
.ant-menu-dark .ant-menu-submenu-open,
.ant-menu-dark .ant-menu-submenu-selected,
.ant-menu-dark .ant-menu-submenu-title:hover {
	color: rgba(228, 194, 101, 1) !important;
	background-color: rgb(253 253 253 / 12%) !important;
}
.ant-menu-item .ant-menu-item-icon,
.ant-menu-submenu-title .ant-menu-item-icon,
.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon .edit-icon-postion {
	color: rgba(228, 194, 101, 1) !important;
}

.ant-menu-submenu-title > i {
	color: rgba(228, 194, 101, 1) !important;
}

.ant-layout-content {
	flex: auto;
	min-height: 0;
}

.dash-header-background {
	color: white !important;
	background: transparent !important;
	font-weight: normal;
}

.ant-table {
	padding: 0px 10px 0px 10px;
	background: transparent !important;
}

.ant-table-thead > tr {
	border-radius: 30px;
}
td:first-child,
th:first-child {
	border-radius: 10px 0px 0px 10px !important;
}

td:last-child,
th:last-child {
	border-radius: 0px 10px 10px 0px !important;
}

.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}

.header-padding {
	background-color: rgb(5 35 30);
	margin-left: -1rem;
	border-left-style: inset;
	border-width: thick;
	border-color: rgba(0, 0, 0, 0.15);
}

.notify-bell-font {
	font-size: 22px;
	color: rgba(228, 194, 101, 1) !important;
}

.ant-menu-item .ant-menu-item-icon,
.ant-menu-submenu-title .ant-menu-item-icon,
.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon {
	font-size: 20px !important;
}

.ant-menu-item,
.ant-menu-submenu-title {
	padding-left: 30px !important;
}

.photo {
	width: 80px;
	height: 80px;
	margin-top: -40px;
	border-radius: 100px;
	border: 2px solid #e0e0e0;
}

.photo-upload {
	width: 130px;
	height: 130px;
	border: 2px solid #e0e0e0;
	margin: 25% 20px 20px 20px !important;
}

.photo-align {
	width: 285px !important;
}

.photo_profile {
	width: 200px;
	max-height: 150px;
	margin: 0 auto !important;
	align-content: center;
}

.profile-left {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 25px;
}

.user-profile-head-font {
	font-size: 15px;
	color: white;
	font-weight: bold;
}

.sidebar-avatar-layout {
	margin: 40px 20px 20px 20px;
	background-color: rgba(26, 79, 71, 1);
	border-radius: 10px;
}

.profile-avatar-layout {
	margin: 40px 20px 20px 20px;
	background-image: url("../content/images/Banner11.png");
	/* background-color: rgba(1, 124, 134, 1); */
	background-size: auto;
	background-position: center;
}
.profile-gradiant {
	background-image: linear-gradient(to right, #e4c265, white);
}
.acwidth {
	width: 250px !important;
	min-width: 170px !important;
}

.action-icon-font {
	font-size: 16px !important;
	padding-right: 0px !important;
	cursor: pointer !important;
}

.sidebar-scroll-overflow-auto {
	overflow-x: hidden !important;
	overflow-y: auto !important;
}
.sidebar-width-radius {
	/* border-radius: 25px 0px 0px 25px !important; */
	flex: 0 auto !important;
	max-width: 40% !important;
	min-width: auto !important;
	width: auto !important;
}
.sidebar-menu-items-width {
	background: transparent !important;
	flex: 0 auto !important;
	max-width: 100% !important;
	min-width: auto !important;
	width: auto !important;
}

.ant-layout-sider-collapsed {
	flex: 0 0 80px !important;
	max-width: 80px !important;
	min-width: 80px !important;
	width: 80px !important;
}

::-webkit-scrollbar {
	width: 0.7em !important;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
	background-color: rgb(253 253 253 / 12%) !important;
	outline: 1px solid rgba(255, 255, 255, 0);
}
.listing-action-icon-font {
	font-size: 16px !important;
	padding-right: 0px !important;
	cursor: pointer !important;
	margin-right: 10px !important;
}
#components-layout-demo-custom-trigger .trigger {
	padding: 0 24px;
	font-size: 18px;
	line-height: 64px;
	cursor: pointer;
	transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
	color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
	height: 32px;
	margin: 16px;
	background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
	background: #fff;
}
.anticon-menu-fold {
	padding: 10px 10px 10px 10px !important;
	font-size: 20px !important;
	color: rgba(228, 194, 101, 1) !important;
}
.anticon-menu-unfold {
	padding: 10px 10px 10px 10px !important;
	font-size: 20px !important;
	color: rgba(228, 194, 101, 1) !important;
}

.text-field-borderRadius {
	border-radius: 15px !important;
	height: 42px;
}
.ant-select-selector {
	border-radius: 15px !important;
}

.tab-content {
	border: none !important;
	padding: 0px !important;
}

.table-header-text-style {
	padding-left: 15px !important;
}

.table-header-dropdown-style {
	padding-left: 18px !important;
}

.sectoion-align {
	padding: 4%;
}

.p-25 {
	padding: 1% 20% 0% 0%;
}

.photo-section {
	position: relative;
}
.photo-section img {
	display: block;
}
.photo-section .fa-download {
	position: absolute;
	bottom: 0;
	left: 0;
}

.profileView {
	width: 150px !important;
	height: 150px !important;
}

.profile-header-container {
	margin: 0 auto;
	text-align: center;
}

.profile-header-img {
	padding: 24% 0px 0px 19%;
}

.profile-header-img > img.img-circle {
	width: 120px;
	height: 120px;
}

.profile-header {
	margin-top: 43px;
}

.rank-label-container {
	margin-top: -13px;
	/* margin-left: 25px; */
	/* z-index: 1000; */
	text-align: center;
}

.label.label-default.rank-label {
	margin-top: -7%;
	padding: 0px 5px;
	border-radius: 100%;
}
.center {
	margin: auto;
}

/* Profile-tab-style */
.col > nav.profile-tab.nav.nav-tabs .nav-link {
	border: 0px !important;
	border-bottom: 2px solid rgb(0, 0, 0, 25%) !important;
	/* box-shadow: rgb(0, 0, 0, 25%) 0px 4px 4px !important; */
	color: black !important;
	font-size: 22px !important;
}

.col > nav.profile-tab.nav.nav-tabs .nav-link:focus,
.col > nav.profile-tab.nav.nav-tabs .nav-link:hover {
	border: 0px !important;
	border-bottom: 1px solid rgb(0, 0, 0, 25%) !important;
}

.col > nav.profile-tab.nav.nav-tabs .nav-item.show .nav-link,
.col > nav.profile-tab.nav.nav-tabs .nav-link.active {
	color: rgba(1, 124, 134, 1) !important;
	font-weight: bold;
	border-bottom: 5px solid !important;
}

.col > nav.profile-tab.nav.nav-tabs {
	/* border: 1px solid #171717; */
	border-right: 0px solid !important;
	border-right: 0px solid !important;
	background-color: white !important;

	border-bottom: 0px solid !important;
}
.col > nav.profile-tab.nav.nav-tabs {
	display: table;
	width: 98%;
	table-layout: fixed;
	margin-left: 1%;
	margin-right: 1%;
}
.col > nav.profile-tab.nav.nav-tabs > a {
	float: none;
	display: table-cell;
	width: 20% !important;
}
/* .col > nav.profile-tab.nav.nav-tabs > a {
	text-align: center;
} */

.edit-icon-postion {
	/* padding-right: 100px !important; */
	font-size: 20px !important;
}

.profile-header-txtfont {
	font-size: x-large !important;
}

.tab-header-icon-font {
	font-size: 22px !important;
	padding-right: 10px;
}

.profile-add-section-width {
	width: 150px !important;
}

.bg-icon-white {
	background-color: #e4c265 !important;
	color: white !important;
}

.ant-menu {
	font-size: 17px !important;
}
.ant-menu-sub.ant-menu-inline > .ant-menu-item,
.ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
	height: auto !important;
	line-height: 2.3 !important;
}
.ant-menu-sub.ant-menu-inline {
	padding-left: 15% !important;
}
.ant-menu-vertical > .ant-menu-item,
.ant-menu-vertical-left > .ant-menu-item,
.ant-menu-vertical-right > .ant-menu-item,
.ant-menu-inline > .ant-menu-item,
.ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
	height: auto !important;
	line-height: 2.3 !important;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
	font-size: 13px !important;
}
.ant-menu-submenu-arrow {
	display: none;
}
.info-input-padding {
	padding: 10px 0px 10px 0px !important;
	font-size: 16px !important;
}

.ant-menu-vertical .ant-menu-item,
.ant-menu-vertical-left .ant-menu-item,
.ant-menu-vertical-right .ant-menu-item,
.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-submenu-title,
.ant-menu-vertical-left .ant-menu-submenu-title,
.ant-menu-vertical-right .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-submenu-title {
	margin-bottom: 0px !important;
}
.ant-menu-vertical {
	font-size: 13px !important;
	background-image: url(../content/images/Background.jpg);
}

/* .padding-body-3 {
	padding: 0% 1% 0% 1% !important;
} */
.title {
	font-size: 24px;
	margin: 0 0 10px;
	padding: 0 0 10px;
	position: relative;
}

.title::after {
	background-color: #efefef;
	bottom: 0;
	content: "";
	display: block;
	height: 1px;
	left: 50%;
	position: absolute;
	transform: translate(-50%, 0);
	width: 50px;
}

.inline-errormsg {
	color: red;
	font-size: 12px;
}

.hidden {
	display: none;
}

.margin-top-2 {
	margin-top: 2% !important;
}

.form-control {
	border-radius: 0 !important;
	border: none !important;
	border-bottom: 1px solid #ced4da !important;
	font-size: 16px !important;
	
}

#input{
	border-radius: 0 !important;
	border: none !important;
	border-bottom: 1px solid #ced4da !important;
	font-size: 16px !important;
}

.ant-upload-list-item-list-type-picture-card {
	padding: 0px !important;
	border-radius: 50% !important;
}
.ant-upload-list-item-list-type-picture-card > .ant-upload-list-item-info,
.ant-upload-select-picture-card {
	border-radius: 50% !important;
}
.ant-upload.ant-upload-select-picture-card,
.ant-upload-list-picture-card-container {
	width: 130px !important;
	height: 130px !important;
}
/* .anticon-delete {
	display: none !important;
} */

.disabled {
	pointer-events: none;
	cursor: not-allowed;
}
a.disabled {
	pointer-events: none;
	cursor: default;
	opacity: 0.5;
}
.p-t-10 {
	padding-top: 5% !important;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}
.other-info-tabledata {
	text-align: left !important;
}
.other-info-tabledata > span {
	text-align: left !important;
	margin-left: 35% !important;
}

.other-info-tabledata > .tbl_OtherInfo {
	text-align: center;
}
.container {
	width: 100%;
}
.topbar {
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
	max-width: 1366px;
	margin: 0 auto;
}
.topbar .topbar-left {
	background: #333333;
	float: left;
	height: 50px;
	position: relative;
	width: 320px;
	z-index: 1;
}
.navbar-default {
	background-color: #000000;
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	padding: 0 20px 0 5px;
}
.navbar-default .navbar-left li a.menu-item {
	padding: 0 15px;
	line-height: 68px;
}
.logo {
	color: #ffffff !important;
	font-size: 24px;
	text-transform: uppercase;
	font-family: "Hind Madurai", sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 50px;
}
.logo i {
	display: none;
}
.logo span span {
	color: #7fc1fc;
}
.user-box a.user-link {
	padding-top: 17px !important;
	padding-bottom: 17px !important;
}
.user-box .user-img {
	position: relative;
	height: 36px;
	width: 36px;
	margin: 0px auto;
}
.navbar-default .right-menu-item {
	height: 36px;
	width: 36px;
	padding: 0;
	font-size: 30px;
	color: #fff;
	overflow: visible;
	line-height: 43px;
	text-align: center;
	margin: 5px 0;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #ed8b00;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
}
.navbar-default .right-menu-item .badge {
	position: absolute;
	top: 0px;
	right: -6px;
}
/* Notification */
.notify-list h5 {
	margin: 0;
	padding: 10px;
	color: #fff;
	background-color: #575757;
	text-align: left;
}
.notify-list .all-msgs a {
	color: #2c2c2c;
	padding: 6px 10px;
	display: block;
}
.side-menu {
	width: 250px;
	padding-top: 0px;
	z-index: 999;
	background: #2c2c2c;
	bottom: 50px;
	margin-top: 0;
	padding-bottom: 70px;
	position: fixed;
	top: 0;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
}
.side-menu .waves-effect .waves-ripple {
	background-color: rgba(127, 193, 252, 0.4);
}
.side-menu.left {
	/*position: absolute;*/
	top: 0px;
	bottom: 0;
}
body.fixed-left .side-menu.left {
	bottom: 50px;
	margin-bottom: -70px;
	margin-top: 50px;
	padding-bottom: 70px;
	position: fixed;
}
.content-page {
	margin-left: 245px;
	overflow: hidden;
}
.content-page .content {
	padding: 0;
	margin-top: 60px;
}

.button-menu-mobile {
	background: transparent;
	border: none;
	color: #fff;
	padding: 0px;
	display: inline-block;
}
.button-menu-mobile i {
	font-size: 24px;
	line-height: 50px;
}
.button-menu-mobile:hover {
	color: #ed8b00;
}
.sidebar-inner {
	height: 100%;
}
#sidebar-menu,
#sidebar-menu ul,
#sidebar-menu li,
#sidebar-menu a {
	border: 0;
	font-weight: normal;
	line-height: 1;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	text-decoration: none;
}
#sidebar-menu {
	padding-bottom: 0px;
	width: 100%;
}
#sidebar-menu a {
	line-height: 1.3;
}
#sidebar-menu ul li .menu-arrow {
	-webkit-transition: -webkit-transform 0.15s;
	-o-transition: -o-transform 0.15s;
	transition: transform 0.15s;
	position: absolute;
	right: 20px;
	display: inline-block;
	font-family: "Material Design Icons";
	text-rendering: auto;
	line-height: 18px;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}
#sidebar-menu ul li .menu-arrow:before {
	content: "\F142";
}
#sidebar-menu ul li a.subdrop .menu-arrow {
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
#sidebar-menu ul ul {
	display: none;
}
#sidebar-menu ul ul li {
	border-top: 0;
}
/*color replaced by deva*/
#sidebar-menu ul ul li.active a {
	color: #ed8b00;
}
/*color replaced by deva*/
#sidebar-menu ul ul a {
	color: #fff;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-left: 3px solid transparent;
	display: block;
	padding: 10px 20px 10px 59px;
	font-size: 13px;
}
#sidebar-menu ul ul a:hover {
	color: #ed8b00 !important;
}
#sidebar-menu ul ul a i {
	margin-right: 5px;
}
#sidebar-menu ul ul ul a {
	padding-left: 80px;
}
#sidebar-menu .label {
	margin-top: 2px;
}
#sidebar-menu .subdrop {
	color: #ffffff !important;
	background-color: #575757;
}
#sidebar-menu > ul > li > a {
	color: #fff;
	display: block;
	padding: 18px 20px;
	font-size: 17px;
	margin: 2px 0;
}
#account-profile > li > a {
	color: #fff;
	display: block;
	padding: 18px 20px;
	font-size: 20px;
	margin: 2px 0;
}
#account-profile > li > a:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #575757;
}
/*border-top hide by deva*/
/*#sidebar-menu > ul > li:last-child {
  border-top: 2px solid #595959;
}*/
#sidebar-menu > ul > li > a:hover {
	color: #fff !important;
	text-decoration: none;
	background-color: #575757;
}
#sidebar-menu > ul > li > a > span {
	vertical-align: middle;
}
#sidebar-menu ul li a i {
	display: inline-block;
	font-size: 20px;
	line-height: 17px;
	margin-left: 3px;
	margin-right: 5px;
	text-align: center;
	vertical-align: middle;
	width: 25px;
}
#sidebar-menu ul li a .drop-arrow {
	float: right;
}
#sidebar-menu ul li a .drop-arrow i {
	margin-right: 0px;
}
#sidebar-menu > ul > li > a.active {
	color: #ffffff !important;
	background-color: #575757 !important;
}
.enlarged .inbox-item-date {
	display: none;
}
.menu-title {
	padding: 12px 20px !important;
	letter-spacing: 0.05em;
	pointer-events: none;
	cursor: default;
	font-size: 11px;
	text-transform: uppercase;
	color: #98a6ad;
	font-family: "Hind Madurai", sans-serif;
}
/* Help Box */
.help-box {
	color: rgba(255, 255, 255, 0.5);
	padding: 20px;
	margin: 20px;
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 5px;
	font-size: 12px;
}
#wrapper.enlarged .menu-title,
#wrapper.enlarged .menu-arrow,
#wrapper.enlarged .help-box {
	display: none !important;
}
#wrapper.enlarged #sidebar-menu ul ul {
	margin-top: -2px;
	padding-bottom: 5px;
	padding-top: 5px;
	z-index: 9999;
	background-color: #2c2c2c;
}
#wrapper.enlarged .left.side-menu {
	width: 70px;
	z-index: 5;
	position: absolute;
}
#wrapper.enlarged .side-menu.left {
	top: 50px;
}
#wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a {
	padding: 15px 20px;
}
#wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a:hover {
	color: #ffffff !important;
	background-color: #2c2c2c;
}
#wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a:active {
	color: #ffffff !important;
	background-color: #2c2c2c;
}
#wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a:focus {
	color: #ffffff !important;
	background-color: #2c2c2c;
}
#wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a i {
	/*margin-right: 20px !important;*/
	margin-right: 22px !important;
	font-size: 20px;
}
#wrapper.enlarged .left.side-menu .label {
	position: absolute;
	top: 5px;
	left: 35px;
	text-indent: 0;
	display: block !important;
	padding: 5px !important;
	border-radius: 10px;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li {
	position: relative;
	white-space: nowrap;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > a {
	position: relative;
	width: 260px;
	color: #ffffff !important;
	background-color: #2c2c2c;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > ul {
	display: block;
	left: 70px;
	position: absolute;
	width: 190px;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > ul a {
	box-shadow: none;
	padding-left: 15px;
	position: relative;
	width: 186px;
	z-index: 6;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > ul a:hover {
	color: #ffffff;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover a span {
	display: inline;
}
#wrapper.enlarged .left.side-menu #sidebar-menu a.subdrop {
	color: #ffffff !important;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li > ul {
	display: none;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul ul li:hover > ul {
	display: block;
	left: 190px;
	margin-top: -36px;
	position: absolute;
	width: 190px;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul ul li > a span.pull-right {
	-ms-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	position: absolute;
	right: 20px;
	top: 12px;
	transform: rotate(270deg);
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul ul li.active a {
	color: #ffffff;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li > a span {
	display: none;
}
#wrapper.enlarged .left.side-menu .user-details {
	display: none;
}
#wrapper.enlarged .content-page {
	margin-left: 70px;
}
#wrapper.enlarged .topbar .topbar-left {
	width: 70px !important;
}
#wrapper.enlarged .topbar .topbar-left .logo span {
	display: none;
	opacity: 0;
}
#wrapper.enlarged .topbar .topbar-left .logo i {
	display: block;
	line-height: 70px;
	color: #7fc1fc !important;
}
#wrapper.enlarged #sidebar-menu > ul > li:hover > a.open :after {
	display: none;
}
#wrapper.enlarged #sidebar-menu > ul > li:hover > a.active :after {
	display: none;
}
#wrapper.right-bar-enabled .right-bar {
	right: 0;
}
#wrapper.right-bar-enabled .left-layout {
	left: 0;
}
/* Right sidebar */
.side-bar.right-bar {
	float: right !important;
	right: -266px;
	top: 0px;
}
.side-bar {
	-moz-transition: all 200ms ease-out;
	-webkit-transition: all 200ms ease-out;
	background-color: #ffffff;
	box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
	display: block;
	float: left;
	height: 100%;
	position: fixed;
	transition: all 200ms ease-out;
	width: 240px;
}
.right-bar {
	background: #ffffff !important;
	z-index: 999 !important;
}
.right-bar h4 {
	border-bottom: 1px solid rgba(152, 166, 173, 0.5);
	padding: 4px 10px 10px 18px;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.03em;
}
.right-bar .right-bar-toggle {
	float: right;
	line-height: 46px;
	font-size: 20px;
	color: #333;
	padding: 0 10px;
}
.right-bar .setting-list {
	padding: 0 20px 20px 20px;
}
ul.notify-list {
	padding-left: 0;
	margin-bottom: 0;
}
ul.notify-list li {
	list-style: none;
	padding-bottom: 10px;
	border-bottom: 1px solid #d0d0d0 !important;
}
ul.notify-list li:first-child {
	padding: 0px !important;
}
ul.notify-list li a {
	position: relative;
	display: block;
}
/*notification arrow mark removed by deva*/
/*ul.notify-list li a:after {
  content: "\f105";
  width: 15px;
  height: 15px;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  right: 5px;
  font-family: 'FontAwesome';
  font-size: 30px;
  line-height: 15px;
  text-align: center;
  color: #ED8B00;
}*/
/*notification arrow mark removed by deva*/
ul.notify-list li.all-msgs a:after {
	display: none;
}
ul.notify-list li.all-msgs a {
	color: #ed8b00;
}
.user-list .user-list-item .avatar {
	float: left;
	margin-right: 5px;
	width: 30px;
	height: 30px;
}
.user-list .user-list-item .avatar img {
	border-radius: 50%;
	width: 100%;
}
.user-list .user-list-item .icon {
	float: left;
	margin-right: 5px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	text-align: center;
}
.user-list .user-list-item .icon i {
	color: #ffffff;
	line-height: 30px;
	font-size: 16px;
}
.user-list .user-list-item .user-desc {
	margin-left: 0px;
	white-space: normal;
}
.user-list .user-list-item .user-desc span.name {
	color: #989898;
	font-family: "Roboto", sans-serif;
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
	font-weight: 600;
	width: 100%;
	font-size: 15px;
}
.user-list .user-list-item .user-desc span.name.new {
	color: #000 !important;
}
.user-list .user-list-item .user-desc span.desc {
	color: #98a6ad;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	width: 100%;
	overflow: hidden;
	font-size: 12px;
}
.user-list .user-list-item .user-desc span.time {
	font-size: 13px;
	color: #575757;
}
/* Seach */
.app-search {
	position: relative;
}
.app-search a {
	position: absolute;
	top: 8px;
	left: 12px;
	color: #000000;
	font-size: 18px;
}
.app-search a:hover {
	color: #98a6ad;
}
.app-search .form-control,
.app-search .form-control:focus {
	border: 1px solid #d0d0d0;
	font-size: 14px;
	height: 40px;
	color: #000;
	padding: 9px 20px 9px 40px;
	margin: 0px;
	background: #d0d0d0;
	box-shadow: none;
	border-radius: 0px;
	width: 120%;
}
/* #input{
	border: 1px solid #d0d0d0;
	font-size: 14px;
	height: 40px;
	color: #000;
	padding: 9px 20px 9px 40px;
	margin: 0px;
	background: #d0d0d0;
	box-shadow: none;
	border-radius: 0px;
	width: 100%;
} */
/* Page titles */
.page-title {
	font-size: 20px;
	margin-bottom: 0;
	margin-top: 0;
	font-weight: 600;
}
.page-header {
	border-bottom: 1px solid #dbddde;
}
.header-title {
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 8px;
	font-weight: 600;
}
.page-title-box {
	padding: 20px;
	border-bottom: 1px solid #eee;
	margin: 0 -20px 20px -20px;
}
.page-title-box .page-title {
	margin-bottom: 0;
	float: left;
}
.page-title-box .breadcrumb {
	float: right;
	background-color: transparent !important;
}
/* Body min-height set */
body.fixed-left-void #wrapper {
	min-height: 1250px;
}

/*sub menu color changes in mobile by deva*/
/* @media screen and (max-width: 768px) {
	#sidebar-menu ul ul a {
		color: #666666;
	}
	.svg-icon-roles {
		background-image: url(../images/icons/profile-user-m.png);
	}
} */

.word-wrap-slideBar {
	display: inline-block;
	width: 180px;
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
	text-align: center;
}

.word-wrap-MyProfile {
	display: inline-block;
	width: 210px;
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
}
.profile-height-assign {
	height: 12.2rem;
}

@media only screen and (max-width: 500px) {
	/* For mobile phones: */
	.menu,
	.main,
	.right {
		width: 100%;
	}
	.profile-avatar-layout {
		/* display: none !important; */
		background-color: black !important;
	}

	.profile-header-img {
		padding: 0px !important;
	}
	.profile-height-assign {
		height: 20rem !important;
	}
}

@media only screen and (max-width: 767px) {
	/* For mobile phones: */
	.menu,
	.main,
	.right {
		width: 100%;
	}
	.profile-avatar-layout {
		/* display: none !important; */
		background-color: black !important;
	}

	.profile-header-img {
		padding: 0px !important;
	}
	.profile-height-assign {
		height: 20rem !important;
	}
}

@media only screen and (max-width: 800px) {
	/* For mobile phones: */
	.menu,
	.main,
	.right {
		width: 100%;
	}
	.profile-avatar-layout {
		/* display: none !important; */
		background-image: none !important;
		background-color: black !important;
	}
	.profile-header-img {
		padding: 0px !important;
	}
	.profile-height-assign {
		height: 13rem !important;
	}
	.label.label-default.rank-label {
		margin-top: -7% !important;
		padding: 0px 5px !important;
		border-radius: 100% !important;
	}
	.profileView {
		width: 130px !important;
		height: 130px !important;
	}
}

@media only screen and (max-width: 1024px) {
	/* For mobile phones: */
	.menu,
	.main,
	.right {
		width: 100%;
	}
	.profile-avatar-layout {
		/* display: none !important; */
		background-image: none !important;
		background-color: black !important;
	}
	.profile-header-img {
		padding: 6% 0px 0px 12% !important;
	}

	.label.label-default.rank-label {
		margin-top: -6%;
		padding: 0px 5px;
		border-radius: 100%;
	}
	.profileView {
		width: 130px !important;
		height: 130px !important;
	}
}

.header-bell-section {
	float: left;
	margin-right: 15px;
}
.header-bell-section ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.header-bell-section .notification-drop {
	font-family: "Ubuntu", sans-serif;
	color: #444;
}
.header-bell-section .notification-drop .item {
	font-size: 18px;
	position: relative;
	border-bottom: 1px solid #ddd;
}
.header-bell-section .notification-drop .item:hover {
	cursor: pointer;
}
.header-bell-section .notification-drop .item i {
	margin-left: 10px;
}
.header-bell-section .notification-drop .item ul {
	display: none;
	position: absolute;
	top: 85%;
	background: #fff;
	left: -260px;
	right: 0px;
	z-index: 1;
	border: 1px solid #ddd;
}
.header-bell-section .notification-drop .item ul li {
	font-size: 16px;
	padding: 0px 0 0px 10px;
	line-height: 3rem;
	border-bottom: 1px solid black;
}

.un-read-items {
	background-color: #e9e9e9 !important;
}
.read-items {
	background-color: #ffffff !important;
}

.header-bell-section .notification-drop .item ul li:hover {
	background: #ddd;
	color: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 500px) {
	.header-bell-section .notification-drop {
		display: flex;
		justify-content: flex-end;
	}
	.header-bell-section .notification-drop .item {
		border: none;
	}
}

.header-bell-section .notification-bell {
	font-size: 20px;
	cursor: pointer;
}

.header-bell-section .btn__badge {
	background: #ff5d5d;
	color: #f9f9f9;
	font-size: 12px;
	position: absolute;
	top: 0;
	right: 0px;
	padding: 3px 10px;
	border-radius: 50%;
}

.header-bell-section .pulse-button {
	box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5);
	-webkit-animation: pulse 1.5s infinite;
}

.header-bell-section .pulse-button:hover {
	-webkit-animation: none;
}

@-webkit-keyframes pulse {
	0% {
		-moz-transform: scale(0.9);
		-ms-transform: scale(0.9);
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
	70% {
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
		box-shadow: 0 0 0 50px rgba(255, 0, 0, 0);
	}
	100% {
		-moz-transform: scale(0.9);
		-ms-transform: scale(0.9);
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
	}
}

.header-bell-section .notification-text {
	font-size: 14px;
	font-weight: bold;
}
