.slidecontainer {
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 25px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #04aa6d;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #04aa6d;
	cursor: pointer;
}

#drink-holder select option {
	display: inline-block;
}

#drink-holder {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	width: 50%;
}
.slide-container {
	width: 100%;
}
.question-font-style {
	font-size: 20px;
	padding-bottom: 10px;
}

#drink-holder .ant-col {
	font-weight: bold;
}
.slide-container input {
	width: 100%;
	padding: 0px !important;
}
.question-margin {
	margin-bottom: 25px;
}
.pain-Indicator-title {
	padding-bottom: 20px;
	font-size: 24px;
}
