.pain-indicator-box {
	position: relative;
	text-align: center;
	color: white;
}
.male-female-img-size {
	width: 35%;
}
.maxi-image-size .m-forehead {
	position: absolute;
	top: 3.9%;
	left: 40.1%;
}

.maxi-image-size .m-left-sholder {
	position: absolute;
	top: 22%;
	left: 36%;
}
.maxi-image-size .m-right-sholder {
	position: absolute;
	top: 22%;
	left: 44.2%;
}
.maxi-image-size .m-left-chest {
	position: absolute;
	top: 27.8%;
	left: 38.2%;
}
.maxi-image-size .m-right-chest {
	position: absolute;
	top: 27.8%;
	left: 42.4%;
}
.maxi-image-size .m-left-elbow {
	position: absolute;
	top: 37.6%;
	left: 34.8%;
}
.maxi-image-size .m-right-elbow {
	position: absolute;
	top: 37.7%;
	left: 45.5%;
}
.maxi-image-size .m-left-wrist {
	position: absolute;
	top: 50.1%;
	left: 33.5%;
}
.maxi-image-size .m-right-wrist {
	position: absolute;
	top: 50.1%;
	left: 46.6%;
}

.maxi-image-size .m-left-knee {
	position: absolute;
	top: 72.9%;
	left: 38.3%;
}
.maxi-image-size .m-right-knee {
	position: absolute;
	top: 72.9%;
	left: 42%;
}

.maxi-image-size .m-left-foot {
	position: absolute;
	top: 94.5%;
	left: 37.9%;
}
.maxi-image-size .m-right-foot {
	position: absolute;
	top: 94.1%;
	left: 42.4%;
}
.maxi-image-size .m-back-neck {
	position: absolute;
	top: 17.2%;
	right: 40.1%;
}
.maxi-image-size .m-full-back {
	position: absolute;
	top: 36.7%;
	right: 40.2%;
}
.maxi-image-size .m-left-thigh {
	position: absolute;
	top: 62%;
	right: 42.4%;
}
.maxi-image-size .m-right-thigh {
	position: absolute;
	top: 62%;
	right: 37.8%;
}

.maxi-image-size .m-left-leg {
	position: absolute;
	top: 79.6%;
	right: 41.9%;
}
.maxi-image-size .m-right-leg {
	position: absolute;
	top: 79.6%;
	right: 38.1%;
}

.maxi-image-size .m-left-inStep {
	position: absolute;
	top: 92.6%;
	right: 41.9%;
}
.maxi-image-size .m-right-inStep {
	position: absolute;
	top: 91.6%;
	right: 38.1%;
}

.maxi-image-size .f-forehead {
	position: absolute;
	top: 6%;
	left: 40.4%;
}

.maxi-image-size .f-left-sholder {
	position: absolute;
	top: 22.6%;
	left: 36.4%;
}
.maxi-image-size .f-right-sholder {
	position: absolute;
	top: 22.6%;
	left: 44.5%;
}
.maxi-image-size .f-left-chest {
	position: absolute;
	top: 24%;
	left: 39%;
}
.maxi-image-size .f-right-chest {
	position: absolute;
	top: 24%;
	left: 41.9%;
}
.maxi-image-size .f-left-elbow {
	position: absolute;
	top: 36.2%;
	left: 35.7%;
}
.maxi-image-size .f-right-elbow {
	position: absolute;
	top: 36.2%;
	left: 45%;
}
.maxi-image-size .f-abdomen {
	position: absolute;
	top: 38.8%;
	left: 40.7%;
}
.maxi-image-size .f-left-wrist {
	position: absolute;
	top: 48.2%;
	left: 34.2%;
}
.maxi-image-size .f-right-wrist {
	position: absolute;
	top: 48.2%;
	left: 46.6%;
}

.maxi-image-size .f-left-knee {
	position: absolute;
	top: 71.2%;
	left: 38.4%;
}
.maxi-image-size .f-right-knee {
	position: absolute;
	top: 71.2%;
	left: 42.5%;
}

.maxi-image-size .f-left-foot {
	position: absolute;
	top: 95.4%;
	left: 38.2%;
}
.maxi-image-size .f-right-foot {
	position: absolute;
	top: 95.6%;
	left: 43%;
}
.maxi-image-size .f-back-neck {
	position: absolute;
	top: 19%;
	right: 40.6%;
}
.maxi-image-size .f-full-back {
	position: absolute;
	top: 38.1%;
	right: 40.6%;
}
.maxi-image-size .f-left-thigh {
	position: absolute;
	top: 58.5%;
	right: 42.7%;
}
.maxi-image-size .f-right-thigh {
	position: absolute;
	top: 58.6%;
	right: 37.8%;
}

.maxi-image-size .f-left-leg {
	position: absolute;
	top: 78.6%;
	right: 42%;
}
.maxi-image-size .f-right-leg {
	position: absolute;
	top: 78.6%;
	right: 38.5%;
}

.maxi-image-size .f-left-inStep {
	position: absolute;
	top: 94%;
	right: 41.7%;
}
.maxi-image-size .f-right-inStep {
	position: absolute;
	top: 94%;
	right: 39%;
}
.maxi-image-size .body-pain-pointer {
	height: 20px !important;
	user-select: none;
}
@media only screen and (max-width: 1024px) {
	.maxi-image-size .body-pain-pointer {
		height: 14px;
		user-select: none;
	}
	.maxi-image-size .m-forehead {
		position: absolute;
		top: 2.5%;
		left: 40.2%;
	}
	.maxi-image-size .m-left-sholder {
		position: absolute;
		top: 20.9%;
		left: 36.2%;
	}
	.maxi-image-size .m-right-sholder {
		position: absolute;
		top: 20.9%;
		left: 44.3%;
	}
	.maxi-image-size .m-left-chest {
		position: absolute;
		top: 26.2%;
		left: 38.5%;
	}
	.maxi-image-size .m-right-chest {
		position: absolute;
		top: 26.2%;
		left: 42.1%;
	}
	.maxi-image-size .m-left-elbow {
		position: absolute;
		top: 35.4%;
		left: 34.9%;
	}
	.maxi-image-size .m-right-elbow {
		position: absolute;
		top: 35.8%;
		left: 45.7%;
	}
	.maxi-image-size .m-left-wrist {
		position: absolute;
		top: 48.2%;
		left: 33.9%;
	}
	.maxi-image-size .m-right-wrist {
		position: absolute;
		top: 48.2%;
		left: 46.7%;
	}
	.maxi-image-size .m-abdomen {
		position: absolute;
		top: 38.8%;
		left: 23.7%;
	}
	.maxi-image-size .m-left-foot {
		position: absolute;
		top: 92.4%;
		left: 38%;
	}
	.maxi-image-size .m-right-foot {
		position: absolute;
		top: 92.5%;
		left: 42.5%;
	}
	.maxi-image-size .m-back-neck {
		position: absolute;
		top: 15%;
		right: 40.2%;
	}
	.maxi-image-size .m-full-back {
		position: absolute;
		top: 35.6%;
		right: 40.2%;
	}
	.maxi-image-size .m-left-thigh {
		position: absolute;
		top: 59.5%;
		right: 42%;
	}
	.maxi-image-size .m-right-thigh {
		position: absolute;
		top: 59.5%;
		right: 38%;
	}

	.maxi-image-size .m-left-leg {
		position: absolute;
		top: 77.6%;
		right: 41.9%;
	}
	.maxi-image-size .m-right-leg {
		position: absolute;
		top: 77.6%;
		right: 38.4%;
	}

	.maxi-image-size .m-left-inStep {
		position: absolute;
		top: 90.5%;
		right: 42%;
	}
	.maxi-image-size .m-right-inStep {
		position: absolute;
		top: 90.5%;
		right: 38.4%;
	}
	.maxi-image-size .m-left-knee {
		position: absolute;
		top: 70.5%;
		left: 38.3%;
	}
	.maxi-image-size .m-right-knee {
		position: absolute;
		top: 70.5%;
		left: 42%;
	}
	.maxi-image-size .f-forehead {
		position: absolute;
		top: 4.5%;
		left: 40.5%;
	}

	.maxi-image-size .f-left-sholder {
		position: absolute;
		top: 22.5%;
		left: 36.6%;
	}
	.maxi-image-size .f-right-sholder {
		position: absolute;
		top: 22.5%;
		left: 44.5%;
	}
	.maxi-image-size .f-left-chest {
		position: absolute;
		top: 23%;
		left: 39%;
	}
	.maxi-image-size .f-right-chest {
		position: absolute;
		top: 23%;
		left: 41.9%;
	}
	.maxi-image-size .f-left-elbow {
		position: absolute;
		top: 34.4%;
		left: 35.9%;
	}
	.maxi-image-size .f-right-elbow {
		position: absolute;
		top: 34.4%;
		left: 45%;
	}
	.maxi-image-size .f-abdomen {
		position: absolute;
		top: 37.8%;
		left: 40.5%;
	}
	.maxi-image-size .f-left-wrist {
		position: absolute;
		top: 47.4%;
		left: 34.2%;
	}
	.maxi-image-size .f-right-wrist {
		position: absolute;
		top: 47.4%;
		left: 46.7%;
	}

	.maxi-image-size .f-left-knee {
		position: absolute;
		top: 70.3%;
		left: 38.6%;
	}
	.maxi-image-size .f-right-knee {
		position: absolute;
		top: 70.3%;
		left: 42.7%;
	}

	.maxi-image-size .f-left-foot {
		position: absolute;
		top: 94%;
		left: 38.2%;
	}
	.maxi-image-size .f-right-foot {
		position: absolute;
		top: 94%;
		left: 43%;
	}
	.maxi-image-size .f-back-neck {
		position: absolute;
		top: 18%;
		right: 40.4%;
	}
	.maxi-image-size .f-full-back {
		position: absolute;
		top: 36.8%;
		right: 40.4%;
	}
	.maxi-image-size .f-left-thigh {
		position: absolute;
		top: 58.5%;
		right: 42.7%;
	}
	.maxi-image-size .f-right-thigh {
		position: absolute;
		top: 58.5%;
		right: 37.8%;
	}

	.maxi-image-size .f-left-leg {
		position: absolute;
		top: 77.6%;
		right: 42%;
	}
	.maxi-image-size .f-right-leg {
		position: absolute;
		top: 77.6%;
		right: 38.5%;
	}

	.maxi-image-size .f-left-inStep {
		position: absolute;
		top: 93%;
		right: 41.7%;
	}
	.maxi-image-size .f-right-inStep {
		position: absolute;
		top: 93%;
		right: 39%;
	}
}
@media only screen and (max-width: 1000px) {
	.wellness-track-container {
		width: 50% !important;
		float: left;
	}
}
@media only screen and (max-width: 800px) {
	.male-female-img-size {
		width: 60%;
	}
	.maxi-image-size .body-pain-pointer {
		height: 17px;
		user-select: none;
	}
	.maxi-image-size .m-forehead {
		position: absolute;
		top: 3.4%;
		left: 33.2%;
	}
	.maxi-image-size .m-left-sholder {
		position: absolute;
		top: 22.2%;
		left: 26.2%;
	}
	.maxi-image-size .m-right-sholder {
		position: absolute;
		top: 22.2%;
		left: 40.2%;
	}
	.maxi-image-size .m-left-chest {
		position: absolute;
		top: 27.2%;
		left: 30.1%;
	}
	.maxi-image-size .m-right-chest {
		position: absolute;
		top: 27.2%;
		left: 36%;
	}
	.maxi-image-size .m-left-elbow {
		position: absolute;
		top: 37%;
		left: 24%;
	}
	.maxi-image-size .m-right-elbow {
		position: absolute;
		top: 37%;
		left: 42.2%;
	}
	.maxi-image-size .m-left-wrist {
		position: absolute;
		top: 50%;
		left: 22%;
	}
	.maxi-image-size .m-right-wrist {
		position: absolute;
		top: 50%;
		left: 44.3%;
	}
	.maxi-image-size .m-left-foot {
		position: absolute;
		top: 94.5%;
		left: 29.5%;
	}
	.maxi-image-size .m-right-foot {
		position: absolute;
		top: 94.5%;
		left: 37%;
	}
	.maxi-image-size .m-left-knee {
		position: absolute;
		top: 72%;
		left: 30.3%;
	}
	.maxi-image-size .m-right-knee {
		position: absolute;
		top: 72%;
		left: 35.8%;
	}
	.maxi-image-size .m-back-neck {
		position: absolute;
		top: 17%;
		right: 33.1%;
	}
	.maxi-image-size .m-full-back {
		position: absolute;
		top: 35.9%;
		right: 33.1%;
	}
	.maxi-image-size .m-right-thigh {
		position: absolute;
		top: 61.5%;
		right: 29.9%;
	}
	.maxi-image-size .m-left-thigh {
		position: absolute;
		top: 61.5%;
		right: 36.5%;
	}
	.maxi-image-size .m-left-leg {
		position: absolute;
		top: 78.6%;
		right: 36%;
	}
	.maxi-image-size .m-right-leg {
		position: absolute;
		top: 78.6%;
		right: 30.2%;
	}

	.maxi-image-size .m-right-inStep {
		position: absolute;
		top: 91.5%;
		right: 30.2%;
	}
	.maxi-image-size .m-left-inStep {
		position: absolute;
		top: 91.5%;
		right: 36.1%;
	}

	.maxi-image-size .f-forehead {
		position: absolute;
		top: 5%;
		left: 33.8%;
	}
	.maxi-image-size .f-left-sholder {
		position: absolute;
		top: 22%;
		left: 27.3%;
	}
	.maxi-image-size .f-right-sholder {
		position: absolute;
		top: 22%;
		left: 40.2%;
	}
	.maxi-image-size .f-left-chest {
		position: absolute;
		top: 24%;
		left: 31%;
	}
	.maxi-image-size .f-right-chest {
		position: absolute;
		top: 24%;
		left: 36.4%;
	}
	.maxi-image-size .f-left-elbow {
		position: absolute;
		top: 35.4%;
		left: 25.5%;
	}
	.maxi-image-size .f-right-elbow {
		position: absolute;
		top: 35.4%;
		left: 42%;
	}
	.maxi-image-size .f-abdomen {
		position: absolute;
		top: 38.8%;
		left: 33.8%;
	}
	.maxi-image-size .f-left-wrist {
		position: absolute;
		top: 48%;
		left: 23%;
	}
	.maxi-image-size .f-right-wrist {
		position: absolute;
		top: 48%;
		left: 44.5%;
	}

	.maxi-image-size .f-left-foot {
		position: absolute;
		top: 94.9%;
		left: 30.1%;
	}
	.maxi-image-size .f-right-foot {
		position: absolute;
		top: 94.9%;
		left: 37.6%;
	}
	.maxi-image-size .f-back-neck {
		position: absolute;
		top: 20%;
		right: 34%;
	}
	.maxi-image-size .f-full-back {
		position: absolute;
		top: 36.8%;
		right: 34%;
	}
	.maxi-image-size .f-left-thigh {
		position: absolute;
		top: 58.5%;
		right: 37.7%;
	}
	.maxi-image-size .f-right-thigh {
		position: absolute;
		top: 58.5%;
		right: 29.8%;
	}
	.maxi-image-size .f-left-leg {
		position: absolute;
		top: 79.6%;
		right: 37%;
	}
	.maxi-image-size .f-right-leg {
		position: absolute;
		top: 79.6%;
		right: 30.5%;
	}
	.maxi-image-size .f-left-inStep {
		position: absolute;
		top: 93.7%;
		right: 35.8%;
	}
	.maxi-image-size .f-right-inStep {
		position: absolute;
		top: 93.7%;
		right: 31.2%;
	}
	.maxi-image-size .f-left-knee {
		position: absolute;
		top: 71.2%;
		left: 30.3%;
	}
	.maxi-image-size .f-right-knee {
		position: absolute;
		top: 71.2%;
		left: 37.3%;
	}
}
@media only screen and (max-width: 770px) {
	.wellness-track-container {
		width: 100% !important;
		float: left;
	}
}
@media only screen and (max-width: 700px) {
	.male-female-img-size {
		width: 90%;
	}
	.maxi-image-size .body-pain-pointer {
		height: 22px;
		user-select: none;
	}
	.maxi-image-size .m-forehead {
		position: absolute;
		top: 2.5%;
		left: 24.6%;
	}
	.maxi-image-size .m-left-sholder {
		position: absolute;
		top: 21.9%;
		left: 14.6%;
	}
	.maxi-image-size .m-right-sholder {
		position: absolute;
		top: 21.9%;
		left: 35%;
	}
	.maxi-image-size .m-left-chest {
		position: absolute;
		top: 27.2%;
		left: 20.2%;
	}
	.maxi-image-size .m-right-chest {
		position: absolute;
		top: 27.2%;
		left: 28.8%;
	}
	.maxi-image-size .m-left-elbow {
		position: absolute;
		top: 36%;
		left: 11.4%;
	}
	.maxi-image-size .m-right-elbow {
		position: absolute;
		top: 36%;
		left: 38.3%;
	}
	.maxi-image-size .m-left-wrist {
		position: absolute;
		top: 49.2%;
		left: 7.9%;
	}
	.maxi-image-size .m-right-wrist {
		position: absolute;
		top: 49.2%;
		left: 41.5%;
	}
	.maxi-image-size .m-left-knee {
		position: absolute;
		top: 72.2%;
		left: 20.3%;
	}
	.maxi-image-size .m-right-knee {
		position: absolute;
		top: 72.2%;
		left: 28.8%;
	}
	.maxi-image-size .m-left-foot {
		position: absolute;
		top: 93.8%;
		left: 18.8%;
	}
	.maxi-image-size .m-right-foot {
		position: absolute;
		top: 93.8%;
		left: 30.2%;
	}
	.maxi-image-size .m-back-neck {
		position: absolute;
		top: 16.5%;
		right: 24.6%;
	}
	.maxi-image-size .m-full-back {
		position: absolute;
		top: 36%;
		right: 24.7%;
	}
	.maxi-image-size .m-left-thigh {
		position: absolute;
		top: 60.5%;
		right: 29%;
	}
	.maxi-image-size .m-right-thigh {
		position: absolute;
		top: 60.5%;
		right: 19.6%;
	}
	.maxi-image-size .m-left-leg {
		position: absolute;
		top: 79.6%;
		right: 28.9%;
	}
	.maxi-image-size .m-right-leg {
		position: absolute;
		top: 79.6%;
		right: 20%;
	}
	.maxi-image-size .m-left-inStep {
		position: absolute;
		top: 91.5%;
		right: 29%;
	}
	.maxi-image-size .m-right-inStep {
		position: absolute;
		top: 91.5%;
		right: 20%;
	}
	.maxi-image-size .f-forehead {
		position: absolute;
		top: 4.5%;
		left: 25.6%;
	}
	.maxi-image-size .f-left-sholder {
		position: absolute;
		top: 22.5%;
		left: 15.3%;
	}
	.maxi-image-size .f-right-sholder {
		position: absolute;
		top: 22.5%;
		left: 35.3%;
	}
	.maxi-image-size .f-left-chest {
		position: absolute;
		top: 24%;
		left: 22%;
	}
	.maxi-image-size .f-right-chest {
		position: absolute;
		top: 24%;
		left: 28.5%;
	}
	.maxi-image-size .f-left-elbow {
		position: absolute;
		top: 35.4%;
		left: 13.5%;
	}
	.maxi-image-size .f-right-elbow {
		position: absolute;
		top: 35.4%;
		left: 37.2%;
	}
	.maxi-image-size .f-abdomen {
		position: absolute;
		top: 37.8%;
		left: 25.6%;
	}
	.maxi-image-size .f-left-wrist {
		position: absolute;
		top: 47.8%;
		left: 9.5%;
	}
	.maxi-image-size .f-right-wrist {
		position: absolute;
		top: 47.8%;
		left: 41.5%;
	}
	.maxi-image-size .f-left-knee {
		position: absolute;
		top: 71.2%;
		left: 21%;
	}
	.maxi-image-size .f-right-knee {
		position: absolute;
		top: 71.2%;
		left: 30.3%;
	}
	.maxi-image-size .f-left-foot {
		position: absolute;
		top: 94.8%;
		left: 19.7%;
	}
	.maxi-image-size .f-right-foot {
		position: absolute;
		top: 94.8%;
		left: 31.8%;
	}
	.maxi-image-size .f-back-neck {
		position: absolute;
		top: 20%;
		right: 25.4%;
	}
	.maxi-image-size .f-full-back {
		position: absolute;
		top: 37.8%;
		right: 25.4%;
	}
	.maxi-image-size .f-left-thigh {
		position: absolute;
		top: 58.5%;
		right: 30.7%;
	}
	.maxi-image-size .f-right-thigh {
		position: absolute;
		top: 58.5%;
		right: 19.8%;
	}
	.maxi-image-size .f-left-leg {
		position: absolute;
		top: 77.6%;
		right: 30%;
	}
	.maxi-image-size .f-right-leg {
		position: absolute;
		top: 77.6%;
		right: 21%;
	}
	.maxi-image-size .f-left-inStep {
		position: absolute;
		top: 93%;
		right: 28.5%;
	}
	.maxi-image-size .f-right-inStep {
		position: absolute;
		top: 93%;
		right: 21.8%;
	}
}
@media only screen and (max-width: 600px) {
	.body-pain-pointer {
		height: 18px;
		user-select: none;
	}
}
@media only screen and (max-width: 500px) {
	.body-pain-pointer {
		height: 14px;
		user-select: none;
	}
}
@media only screen and (max-width: 500px) {
	.body-pain-pointer {
		height: 11px;
		user-select: none;
	}
}
.wellness-track-info {
	background-color: #f3f3f3;
	margin: 2px;
}
.divider-wellness-track-item {
	width: 30%;
	float: left;
	margin-right: 10px;
}
.wellness-track-body {
	border-right: 1px solid black;
}
.wellness-track-container {
	width: 32.3%;
	float: left;
	border-radius: 7px;
	margin-left: 10px;
}
.test-wellness {
	text-align: left;
}
.wellness-track-item-line {
	border-right: 2px solid #dedede;
	padding: 25px;
	float: left;
}
.track-wellness-item-header {
	/*background-color: #017b86;*/
	padding: 10px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
.wellness-track-container .card-body {
	padding: 0px !important;
}
.test-wellnewss {
	text-align: center;
	background-color: #f3f3f3;
	padding: 10px;
	border-radius: 50%;
}
.wellness-track-bed-item {
	text-align: center;
}
.wellness-track-text-item {
	font-size: 12px;
}

/*  */
.track-wellness-sleeping-container {
	background-color: #f3f3f3;
	padding: 12px 12px 12px 12px;
	margin-left: 10px;
	border-radius: 50%;
	text-align: center;
	box-shadow: 0px 2px 8px 0px rgb(0 0 0 / 20%);
	height: 80%;
}
.track-wellness-sleeping-img {
	height: 50px;
	position: relative;
}
#track-wellness-item-p {
	text-align: center;
	font-size: 9px;
	padding: 10px;
}
.track-wellness-item-left {
	text-align: center;
	font-size: 11px;
	line-height: 13px;
}
.track-wellness-right-side {
	float: left;
}
.track-wellness-item-right {
	font-size: 13px;
	text-align: left !important;
}
.track-wellness-item-right-star {
	height: 15px;
}
.track-wellness-user-img {
	height: 80px;
}
#user-pain-indicate-text {
	font-size: 9px;
	text-align: center;
	font-weight: bold;
}
.wellness-header-text {
	color: rgba(1, 124, 134, 1) !important;
	font-size: 16px !important;
	font-weight: bold;
}
.track-wellness-header-legend {
	display: inline-flex;
	margin-top: 16px;
}
.track-wellness-header-legend div {
	margin-left: 50px;
	padding: 10px;
	padding-right: 12px;
	margin-right: 7px;
	margin-bottom: 10px !important;
}

.disable-arrow1 .ant-picker-header-super-prev-btn,
.disable-arrow2 .ant-picker-header-prev-btn,
.disable-arrow3 .ant-picker-header-next-btn,
.disable-arrow4 .ant-picker-header-super-next-btn {
	visibility: hidden;
}

.minize-image-size .body-pain-pointer {
	height: 6px !important;
	user-select: none;
}
.minize-image-size .m-forehead {
	position: absolute;
	top: -2.9px;
	left: 119.5px;
}
.minize-image-size .m-left-sholder {
	position: absolute;
	top: 1.35rem;
	left: 8.3rem;
}
.minize-image-size .m-right-sholder {
	position: absolute;
	top: 1.35rem;
	left: 10.1rem;
}
.minize-image-size .m-left-chest {
	position: absolute;
	top: 1.75rem;
	left: 38.2%;
}
.minize-image-size .m-right-chest {
	position: absolute;
	top: 1.75rem;
	left: 9.6rem;
}
.minize-image-size .m-left-elbow {
	position: absolute;
	top: 11.6%;
	left: 34.3%;
}
.minize-image-size .m-right-elbow {
	position: absolute;
	top: 11.6%;
	left: 45%;
}
.minize-image-size .m-left-wrist {
	position: absolute;
	top: 16.1%;
	left: 33.5%;
}
.minize-image-size .m-right-wrist {
	position: absolute;
	top: 16.1%;
	left: 46.2%;
}
.minize-image-size .m-abdomen {
	position: absolute;
	top: 38.8%;
	left: 23.7%;
}
.minize-image-size .m-left-foot {
	position: absolute;
	top: 33%;
	left: 37.6%;
}
.minize-image-size .m-right-foot {
	position: absolute;
	top: 33%;
	left: 42.1%;
}
.minize-image-size .m-back-neck {
	position: absolute;
	top: 4%;
	right: 40.1%;
}
.minize-image-size .m-full-back {
	position: absolute;
	top: 11.2%;
	right: 40%;
}
.minize-image-size .m-left-thigh {
	position: absolute;
	top: 21%;
	right: 42.1%;
}
.minize-image-size .m-right-thigh {
	position: absolute;
	top: 21%;
	right: 38%;
}

.minize-image-size .m-left-leg {
	position: absolute;
	top: 27.6%;
	right: 41.9%;
}
.minize-image-size .m-right-leg {
	position: absolute;
	top: 27.6%;
	right: 38.1%;
}

.minize-image-size .m-left-inStep {
	position: absolute;
	top: 32.6%;
	right: 41.9%;
}
.minize-image-size .m-right-inStep {
	position: absolute;
	top: 32.6%;
	right: 38.1%;
}
.minize-image-size .m-left-knee {
	position: absolute;
	top: 24.9%;
	left: 38.1%;
}
.minize-image-size .m-right-knee {
	position: absolute;
	top: 24.9%;
	left: 41.6%;
}
.minize-image-size .f-forehead {
	position: absolute;
	top: -0.1%;
	left: 40.1%;
}

.minize-image-size .f-left-sholder {
	position: absolute;
	top: 16.2%;
	left: 36.2%;
}
.minize-image-size .f-right-sholder {
	position: absolute;
	top: 16.2%;
	left: 44.2%;
}
.minize-image-size .f-left-chest {
	position: absolute;
	top: 18.6%;
	left: 38.6%;
}
.minize-image-size .f-right-chest {
	position: absolute;
	top: 18.6%;
	left: 41.5%;
}
.minize-image-size .f-left-elbow {
	position: absolute;
	top: 30%;
	left: 35.3%;
}
.minize-image-size .f-right-elbow {
	position: absolute;
	top: 30%;
	left: 45%;
}
.minize-image-size .f-abdomen {
	position: absolute;
	top: 32.5%;
	left: 40.3%;
}
.minize-image-size .f-left-wrist {
	position: absolute;
	top: 40.6%;
	left: 33.8%;
}
.minize-image-size .f-right-wrist {
	position: absolute;
	top: 40.6%;
	left: 46.3%;
}

.minize-image-size .f-left-knee {
	position: absolute;
	top: 64.2%;
	left: 38.2%;
}
.minize-image-size .f-right-knee {
	position: absolute;
	top: 64.2%;
	left: 42.1%;
}

.minize-image-size .f-left-foot {
	position: absolute;
	top: 86.6%;
	left: 37.8%;
}
.minize-image-size .f-right-foot {
	position: absolute;
	top: 86.6%;
	left: 42.6%;
}
.minize-image-size .f-back-neck {
	position: absolute;
	top: 14%;
	right: 40.6%;
}
.minize-image-size .f-full-back {
	position: absolute;
	top: 32%;
	right: 40.6%;
}
.minize-image-size .f-left-thigh {
	position: absolute;
	top: 54.5%;
	right: 42.7%;
}
.minize-image-size .f-right-thigh {
	position: absolute;
	top: 54.5%;
	right: 37.8%;
}

.minize-image-size .f-left-leg {
	position: absolute;
	top: 72%;
	right: 42%;
}
.minize-image-size .f-right-leg {
	position: absolute;
	top: 72%;
	right: 38.3%;
}

.minize-image-size .f-left-inStep {
	position: absolute;
	top: 84.3%;
	right: 41.7%;
}
.minize-image-size .f-right-inStep {
	position: absolute;
	top: 84.3%;
	right: 39%;
}
.track-wellness-indicator {
	position: relative;
	left: -80px;
	height: 120px;
}

.athlete-sleep-icon-font {
	font-size: 40px;
	top: -3px !important;
	left: 0.8rem !important;
}
/* 
.athlete-sleep-fields {
	border: 1px solid black;
	height: 4rem !important;
} */

.athlete-sleep-input-border {
	border: 1px solid black !important;
	height: 4rem !important;
	font-size: 26px !important;
}
.athlete-sleep-section {
	margin: 8% !important;
}

.athlete-sleep-tab-heading-space {
	font-size: 18px;
	margin-right: 26%;
	margin-bottom: 10px !important;
}
.athlete-sleep-tab-last-heading-space {
	font-size: 18px;
	margin-bottom: 10px !important;
}
.Wellness-tab {
	border-bottom: none !important;
}
.Wellness-tab .nav-item.show .nav-link,
.Wellness-tab .nav-link.active {
	border: none;
	border-bottom: 1px solid white;
	background-color: rgba(228, 194, 101, 1) !important;
	box-shadow: inset 0px -7px 0px -2px #ffffff;
}
.Wellness-tab .nav-link:focus,
.Wellness-tab .nav-link:hover {
	border-top: none;
	border-left: none;
	border-right: none;
}
.Wellness-tab .nav-link {
	color: white !important;
	border-radius: 11px 0px 0px 0px;
}
.athlete-Wellness-header-bg {
	background-color: rgba(228, 194, 101, 1) !important;
	border-radius: 11px 11px 0px 0px;
}
.athlete-Wellness-header .col {
	margin: 0% !important;
	padding: 0% !important;
}
.athlete-Wellness-header {
	margin: 2% 5% 2% 5% !important;
	border: 1px dashed black;
	border-radius: 12px;
}
.athlete-sleep-section .inputWithIcon i {
	padding: 0px 10px !important;
}
